<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Mariana Gomez -->
    
    <%- include('../partials/nav') %>
    
    <main>
<div id="banner"></div>
        <div class="container">
            <div class="add-product">
            <h2>Productos</h2>
            <button type="button" id="add"><i class="bi bi-plus-circle"></i> AGREGAR PRODUCTO</button>
        </div>
            <form action="#" method="GET">
                <div class="input">Buscar productos por nombre o código<div><i class="bi bi-search"><p class="buscar">Buscar</p></i></div>
            </form>

            </div>

        </div>
        <div class="nav-products">
            <div class="info">
                    <li>Foto</li>
                    <li>Categoria</a></li>
                    <li>Tipo</li>
                    <li>Nombre</li>
                    <li>Precio</li>
                    <li>Stock</li>
                </div>
            <div class="action">

                <li>Acciones</li>
            </div>
        </div>
        <div class="products">
            <article>
                <img src="/img/productos/flynnpaff-manzana.png" alt="">
                <div class="main-product">
                    <div id="categoria">Caramelo</div>
                    <div class="type">Caramelo masticable </div>
                    <div class="desc">
                    <p> "FLYNN PAFF"</p>
                    <p> Sabor Manzana</p>
                </div>
                </div>
                <div>
                    <p>$150.00</p>
                </div>
                <div>
                    <p>1500u</p>
                </div>
                <div class="menu-article">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0.71875C0 0.321795 0.335786 0 0.75 0H14.25C14.6642 0 15 0.321795 15 0.71875C15 1.1157 14.6642 1.4375 14.25 1.4375H0.75C0.335786 1.4375 0 1.1157 0 0.71875ZM19.5 0.71875C19.5 0.321795 19.8358 0 20.25 0H23.25C23.6642 0 24 0.321795 24 0.71875C24 1.1157 23.6642 1.4375 23.25 1.4375H20.25C19.8358 1.4375 19.5 1.1157 19.5 0.71875ZM0 3.59375C0 3.1968 0.335786 2.875 0.75 2.875H12.75C13.1642 2.875 13.5 3.1968 13.5 3.59375C13.5 3.9907 13.1642 4.3125 12.75 4.3125H0.75C0.335786 4.3125 0 3.9907 0 3.59375ZM19.5 3.59375C19.5 3.1968 19.8358 2.875 20.25 2.875H23.25C23.6642 2.875 24 3.1968 24 3.59375C24 3.9907 23.6642 4.3125 23.25 4.3125H20.25C19.8358 4.3125 19.5 3.9907 19.5 3.59375ZM0 6.46875C0 6.0718 0.335786 5.75 0.75 5.75H15.75C16.1642 5.75 16.5 6.0718 16.5 6.46875C16.5 6.86571 16.1642 7.1875 15.75 7.1875H0.75C0.335786 7.1875 0 6.86571 0 6.46875ZM19.5 6.46875C19.5 6.0718 19.8358 5.75 20.25 5.75H23.25C23.6642 5.75 24 6.0718 24 6.46875C24 6.86571 23.6642 7.1875 23.25 7.1875H20.25C19.8358 7.1875 19.5 6.86571 19.5 6.46875ZM0 9.34375C0 8.9468 0.335786 8.625 0.75 8.625H11.25C11.6642 8.625 12 8.9468 12 9.34375C12 9.7407 11.6642 10.0625 11.25 10.0625H0.75C0.335786 10.0625 0 9.7407 0 9.34375ZM19.5 9.34375C19.5 8.9468 19.8358 8.625 20.25 8.625H23.25C23.6642 8.625 24 8.9468 24 9.34375C24 9.7407 23.6642 10.0625 23.25 10.0625H20.25C19.8358 10.0625 19.5 9.7407 19.5 9.34375ZM0 12.2188C0 11.8218 0.335786 11.5 0.75 11.5H11.25C11.6642 11.5 12 11.8218 12 12.2188C12 12.6157 11.6642 12.9375 11.25 12.9375H0.75C0.335786 12.9375 0 12.6157 0 12.2188ZM19.5 12.2188C19.5 11.8218 19.8358 11.5 20.25 11.5H23.25C23.6642 11.5 24 11.8218 24 12.2188C24 12.6157 23.6642 12.9375 23.25 12.9375H20.25C19.8358 12.9375 19.5 12.6157 19.5 12.2188ZM0 15.0938C0 14.6968 0.335786 14.375 0.75 14.375H14.25C14.6642 14.375 15 14.6968 15 15.0938C15 15.4907 14.6642 15.8125 14.25 15.8125H0.75C0.335786 15.8125 0 15.4907 0 15.0938ZM19.5 15.0938C19.5 14.6968 19.8358 14.375 20.25 14.375H23.25C23.6642 14.375 24 14.6968 24 15.0938C24 15.4907 23.6642 15.8125 23.25 15.8125H20.25C19.8358 15.8125 19.5 15.4907 19.5 15.0938ZM0 17.9688C0 17.5718 0.335786 17.25 0.75 17.25H8.25C8.66421 17.25 9 17.5718 9 17.9688C9 18.3657 8.66421 18.6875 8.25 18.6875H0.75C0.335786 18.6875 0 18.3657 0 17.9688ZM19.5 17.9688C19.5 17.5718 19.8358 17.25 20.25 17.25H23.25C23.6642 17.25 24 17.5718 24 17.9688C24 18.3657 23.6642 18.6875 23.25 18.6875H20.25C19.8358 18.6875 19.5 18.3657 19.5 17.9688ZM0 20.8438C0 20.4468 0.335786 20.125 0.75 20.125H15.75C16.1642 20.125 16.5 20.4468 16.5 20.8438C16.5 21.2407 16.1642 21.5625 15.75 21.5625H0.75C0.335786 21.5625 0 21.2407 0 20.8438ZM19.5 20.8438C19.5 20.4468 19.8358 20.125 20.25 20.125H23.25C23.6642 20.125 24 20.4468 24 20.8438C24 21.2407 23.6642 21.5625 23.25 21.5625H20.25C19.8358 21.5625 19.5 21.2407 19.5 20.8438Z"
                            fill="#AA63EC" />
                    </svg>
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9788 0.247129C19.2839 -0.0823762 19.7786 -0.0823762 20.0837 0.247129L24.7712 5.30963C25.0763 5.63913 25.0763 6.17337 24.7712 6.50287L9.1462 23.3779C9.07139 23.4587 8.98216 23.5222 8.88392 23.5646L1.07142 26.9396C0.781252 27.065 0.449832 26.9915 0.228846 26.7529C0.0078592 26.5142 -0.0601674 26.1563 0.0559004 25.8429L3.1809 17.4054C3.22019 17.2993 3.27903 17.2029 3.35385 17.1221L18.9788 0.247129ZM17.5111 4.21875L21.0938 8.08801L23.1139 5.90625L19.5313 2.03699L17.5111 4.21875ZM19.9889 9.28125L16.4063 5.41199L6.25002 16.3807V16.875H7.03127C7.46275 16.875 7.81252 17.2528 7.81252 17.7187V18.5625H8.59377C9.02525 18.5625 9.37502 18.9403 9.37502 19.4062V20.25H9.83267L19.9889 9.28125ZM4.73698 18.0148L4.57209 18.1929L2.18366 24.6417L8.15473 22.0622L8.31962 21.8841C8.02338 21.7642 7.81252 21.4556 7.81252 21.0937V20.25H7.03127C6.5998 20.25 6.25002 19.8722 6.25002 19.4062V18.5625H5.46877C5.13377 18.5625 4.84801 18.3348 4.73698 18.0148Z"
                            fill="#AD6800" />
                    </svg>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="24" height="25" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_745_589" transform="scale(0.0208333 0.02)" />
                            </pattern>
                            <image id="image0_745_589" width="48" height="50"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAyCAYAAAAayliMAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI1SURBVHgB7Zr/VcIwEMe/qfh/J1CqC6AuwAbiBOoElAmACSgTCBMoE8gE0gV84AYMoI2XUrCmUFKbGnzm856v+dncmcsR7mDQyPzS74LDp6K7Y8gSDCPvJehAEwyaIOEHifB7iTj652HQgwYc6ILjTnWow9CGJrbuwLzh16nngYp1qFNkrGChPJJhigh9LwwW2S6JRPjnHwhUNQva5QtSYpluzJjQB9DE4QkvqEfImmlNbmAp4TnHmOojGIST0IzhNqlmvFttz+TFWRhMYZDXht/Mc5X6vJAhcneA3N01+fdTmISjkdedUYC2ZEqPblJt7HvBb3IMNpPbMiZEbmpKtj/GgSEcykk4mMjtO88HfR60Iqz++2RK6x0R14AhxJ2mIqS1+nEbWYW3w5ko3YXmFz5fl71ZoO3+pGOtP++FrAKmqaEEb1eddhTxFh22Cd3vg3RffCl0IL4juPR3I1/C8uYWoZQCJEC8MHkO4a2+CSEuXg5Ha13O9OfMLYIuE3JL9O+bm4s9xKaxCpjGKmAaq4BprAKmsQqYxipgGquAaawCpimlQBKl2zylFz9hlUZaOltyDHlzi2Ajc6ZRVWAT04njPRUhvVspgKyqQJiaoS3HK8MZel+V1Jo5qAW2RJibxdlLUfYpa+O+R/pyCGTo7tEq+d1ctzlgI8W5apDQj0gibZXDMaJQ5L3KUPVDHOFeZElQNTx2v8o/BinsEumg3dHjGqt8cqmwoISw+aFnOK1r+Xd8AgH1tbjs+aoDAAAAAElFTkSuQmCC" />
                        </defs>
                    </svg>
                </div>
            </article>

            <article>
                <img src="/img/productos/flynnpaff-uva.png" alt="">
                <div class="main-product">
                    
                    <div id="categoria">Caramelo</div>
                    <div class="type">Caramelo masticable </div>
                    <div class="desc">
                    <p> "FLYNN PAFF"</p>
                    <p> Sabor Uva</p>
                </div>
                </div>
                <div>
                    <p>$150.00</p>
                </div>
                <div>
                    <p>1700u</p>
                </div>
                <div class="menu-article">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0.71875C0 0.321795 0.335786 0 0.75 0H14.25C14.6642 0 15 0.321795 15 0.71875C15 1.1157 14.6642 1.4375 14.25 1.4375H0.75C0.335786 1.4375 0 1.1157 0 0.71875ZM19.5 0.71875C19.5 0.321795 19.8358 0 20.25 0H23.25C23.6642 0 24 0.321795 24 0.71875C24 1.1157 23.6642 1.4375 23.25 1.4375H20.25C19.8358 1.4375 19.5 1.1157 19.5 0.71875ZM0 3.59375C0 3.1968 0.335786 2.875 0.75 2.875H12.75C13.1642 2.875 13.5 3.1968 13.5 3.59375C13.5 3.9907 13.1642 4.3125 12.75 4.3125H0.75C0.335786 4.3125 0 3.9907 0 3.59375ZM19.5 3.59375C19.5 3.1968 19.8358 2.875 20.25 2.875H23.25C23.6642 2.875 24 3.1968 24 3.59375C24 3.9907 23.6642 4.3125 23.25 4.3125H20.25C19.8358 4.3125 19.5 3.9907 19.5 3.59375ZM0 6.46875C0 6.0718 0.335786 5.75 0.75 5.75H15.75C16.1642 5.75 16.5 6.0718 16.5 6.46875C16.5 6.86571 16.1642 7.1875 15.75 7.1875H0.75C0.335786 7.1875 0 6.86571 0 6.46875ZM19.5 6.46875C19.5 6.0718 19.8358 5.75 20.25 5.75H23.25C23.6642 5.75 24 6.0718 24 6.46875C24 6.86571 23.6642 7.1875 23.25 7.1875H20.25C19.8358 7.1875 19.5 6.86571 19.5 6.46875ZM0 9.34375C0 8.9468 0.335786 8.625 0.75 8.625H11.25C11.6642 8.625 12 8.9468 12 9.34375C12 9.7407 11.6642 10.0625 11.25 10.0625H0.75C0.335786 10.0625 0 9.7407 0 9.34375ZM19.5 9.34375C19.5 8.9468 19.8358 8.625 20.25 8.625H23.25C23.6642 8.625 24 8.9468 24 9.34375C24 9.7407 23.6642 10.0625 23.25 10.0625H20.25C19.8358 10.0625 19.5 9.7407 19.5 9.34375ZM0 12.2188C0 11.8218 0.335786 11.5 0.75 11.5H11.25C11.6642 11.5 12 11.8218 12 12.2188C12 12.6157 11.6642 12.9375 11.25 12.9375H0.75C0.335786 12.9375 0 12.6157 0 12.2188ZM19.5 12.2188C19.5 11.8218 19.8358 11.5 20.25 11.5H23.25C23.6642 11.5 24 11.8218 24 12.2188C24 12.6157 23.6642 12.9375 23.25 12.9375H20.25C19.8358 12.9375 19.5 12.6157 19.5 12.2188ZM0 15.0938C0 14.6968 0.335786 14.375 0.75 14.375H14.25C14.6642 14.375 15 14.6968 15 15.0938C15 15.4907 14.6642 15.8125 14.25 15.8125H0.75C0.335786 15.8125 0 15.4907 0 15.0938ZM19.5 15.0938C19.5 14.6968 19.8358 14.375 20.25 14.375H23.25C23.6642 14.375 24 14.6968 24 15.0938C24 15.4907 23.6642 15.8125 23.25 15.8125H20.25C19.8358 15.8125 19.5 15.4907 19.5 15.0938ZM0 17.9688C0 17.5718 0.335786 17.25 0.75 17.25H8.25C8.66421 17.25 9 17.5718 9 17.9688C9 18.3657 8.66421 18.6875 8.25 18.6875H0.75C0.335786 18.6875 0 18.3657 0 17.9688ZM19.5 17.9688C19.5 17.5718 19.8358 17.25 20.25 17.25H23.25C23.6642 17.25 24 17.5718 24 17.9688C24 18.3657 23.6642 18.6875 23.25 18.6875H20.25C19.8358 18.6875 19.5 18.3657 19.5 17.9688ZM0 20.8438C0 20.4468 0.335786 20.125 0.75 20.125H15.75C16.1642 20.125 16.5 20.4468 16.5 20.8438C16.5 21.2407 16.1642 21.5625 15.75 21.5625H0.75C0.335786 21.5625 0 21.2407 0 20.8438ZM19.5 20.8438C19.5 20.4468 19.8358 20.125 20.25 20.125H23.25C23.6642 20.125 24 20.4468 24 20.8438C24 21.2407 23.6642 21.5625 23.25 21.5625H20.25C19.8358 21.5625 19.5 21.2407 19.5 20.8438Z"
                            fill="#AA63EC" />
                    </svg>
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9788 0.247129C19.2839 -0.0823762 19.7786 -0.0823762 20.0837 0.247129L24.7712 5.30963C25.0763 5.63913 25.0763 6.17337 24.7712 6.50287L9.1462 23.3779C9.07139 23.4587 8.98216 23.5222 8.88392 23.5646L1.07142 26.9396C0.781252 27.065 0.449832 26.9915 0.228846 26.7529C0.0078592 26.5142 -0.0601674 26.1563 0.0559004 25.8429L3.1809 17.4054C3.22019 17.2993 3.27903 17.2029 3.35385 17.1221L18.9788 0.247129ZM17.5111 4.21875L21.0938 8.08801L23.1139 5.90625L19.5313 2.03699L17.5111 4.21875ZM19.9889 9.28125L16.4063 5.41199L6.25002 16.3807V16.875H7.03127C7.46275 16.875 7.81252 17.2528 7.81252 17.7187V18.5625H8.59377C9.02525 18.5625 9.37502 18.9403 9.37502 19.4062V20.25H9.83267L19.9889 9.28125ZM4.73698 18.0148L4.57209 18.1929L2.18366 24.6417L8.15473 22.0622L8.31962 21.8841C8.02338 21.7642 7.81252 21.4556 7.81252 21.0937V20.25H7.03127C6.5998 20.25 6.25002 19.8722 6.25002 19.4062V18.5625H5.46877C5.13377 18.5625 4.84801 18.3348 4.73698 18.0148Z"
                            fill="#AD6800" />
                    </svg>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="24" height="25" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_745_589" transform="scale(0.0208333 0.02)" />
                            </pattern>
                            <image id="image0_745_589" width="48" height="50"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAyCAYAAAAayliMAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI1SURBVHgB7Zr/VcIwEMe/qfh/J1CqC6AuwAbiBOoElAmACSgTCBMoE8gE0gV84AYMoI2XUrCmUFKbGnzm856v+dncmcsR7mDQyPzS74LDp6K7Y8gSDCPvJehAEwyaIOEHifB7iTj652HQgwYc6ILjTnWow9CGJrbuwLzh16nngYp1qFNkrGChPJJhigh9LwwW2S6JRPjnHwhUNQva5QtSYpluzJjQB9DE4QkvqEfImmlNbmAp4TnHmOojGIST0IzhNqlmvFttz+TFWRhMYZDXht/Mc5X6vJAhcneA3N01+fdTmISjkdedUYC2ZEqPblJt7HvBb3IMNpPbMiZEbmpKtj/GgSEcykk4mMjtO88HfR60Iqz++2RK6x0R14AhxJ2mIqS1+nEbWYW3w5ko3YXmFz5fl71ZoO3+pGOtP++FrAKmqaEEb1eddhTxFh22Cd3vg3RffCl0IL4juPR3I1/C8uYWoZQCJEC8MHkO4a2+CSEuXg5Ha13O9OfMLYIuE3JL9O+bm4s9xKaxCpjGKmAaq4BprAKmsQqYxipgGquAaawCpimlQBKl2zylFz9hlUZaOltyDHlzi2Ajc6ZRVWAT04njPRUhvVspgKyqQJiaoS3HK8MZel+V1Jo5qAW2RJibxdlLUfYpa+O+R/pyCGTo7tEq+d1ctzlgI8W5apDQj0gibZXDMaJQ5L3KUPVDHOFeZElQNTx2v8o/BinsEumg3dHjGqt8cqmwoISw+aFnOK1r+Xd8AgH1tbjs+aoDAAAAAElFTkSuQmCC" />
                        </defs>
                    </svg>
                </div>
            </article>

            <article>
                <img src="/img/productos/flynnpaff-frutilla.png" alt="">
                <div class="main-product">
                    <div id="categoria">Caramelo</div>
                    <div class="type">Caramelo masticable </div>
                    <div class="desc">
                    <p> "FLYNN PAFF"</p>
                    <p> Sabor Frutilla</p>
                    </div>
                </div>
                <div>
                    <p>$150.00</p>
                </div>
                <div>
                    <p>1400u</p>
                </div>
                
                <div class="menu-article">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0.71875C0 0.321795 0.335786 0 0.75 0H14.25C14.6642 0 15 0.321795 15 0.71875C15 1.1157 14.6642 1.4375 14.25 1.4375H0.75C0.335786 1.4375 0 1.1157 0 0.71875ZM19.5 0.71875C19.5 0.321795 19.8358 0 20.25 0H23.25C23.6642 0 24 0.321795 24 0.71875C24 1.1157 23.6642 1.4375 23.25 1.4375H20.25C19.8358 1.4375 19.5 1.1157 19.5 0.71875ZM0 3.59375C0 3.1968 0.335786 2.875 0.75 2.875H12.75C13.1642 2.875 13.5 3.1968 13.5 3.59375C13.5 3.9907 13.1642 4.3125 12.75 4.3125H0.75C0.335786 4.3125 0 3.9907 0 3.59375ZM19.5 3.59375C19.5 3.1968 19.8358 2.875 20.25 2.875H23.25C23.6642 2.875 24 3.1968 24 3.59375C24 3.9907 23.6642 4.3125 23.25 4.3125H20.25C19.8358 4.3125 19.5 3.9907 19.5 3.59375ZM0 6.46875C0 6.0718 0.335786 5.75 0.75 5.75H15.75C16.1642 5.75 16.5 6.0718 16.5 6.46875C16.5 6.86571 16.1642 7.1875 15.75 7.1875H0.75C0.335786 7.1875 0 6.86571 0 6.46875ZM19.5 6.46875C19.5 6.0718 19.8358 5.75 20.25 5.75H23.25C23.6642 5.75 24 6.0718 24 6.46875C24 6.86571 23.6642 7.1875 23.25 7.1875H20.25C19.8358 7.1875 19.5 6.86571 19.5 6.46875ZM0 9.34375C0 8.9468 0.335786 8.625 0.75 8.625H11.25C11.6642 8.625 12 8.9468 12 9.34375C12 9.7407 11.6642 10.0625 11.25 10.0625H0.75C0.335786 10.0625 0 9.7407 0 9.34375ZM19.5 9.34375C19.5 8.9468 19.8358 8.625 20.25 8.625H23.25C23.6642 8.625 24 8.9468 24 9.34375C24 9.7407 23.6642 10.0625 23.25 10.0625H20.25C19.8358 10.0625 19.5 9.7407 19.5 9.34375ZM0 12.2188C0 11.8218 0.335786 11.5 0.75 11.5H11.25C11.6642 11.5 12 11.8218 12 12.2188C12 12.6157 11.6642 12.9375 11.25 12.9375H0.75C0.335786 12.9375 0 12.6157 0 12.2188ZM19.5 12.2188C19.5 11.8218 19.8358 11.5 20.25 11.5H23.25C23.6642 11.5 24 11.8218 24 12.2188C24 12.6157 23.6642 12.9375 23.25 12.9375H20.25C19.8358 12.9375 19.5 12.6157 19.5 12.2188ZM0 15.0938C0 14.6968 0.335786 14.375 0.75 14.375H14.25C14.6642 14.375 15 14.6968 15 15.0938C15 15.4907 14.6642 15.8125 14.25 15.8125H0.75C0.335786 15.8125 0 15.4907 0 15.0938ZM19.5 15.0938C19.5 14.6968 19.8358 14.375 20.25 14.375H23.25C23.6642 14.375 24 14.6968 24 15.0938C24 15.4907 23.6642 15.8125 23.25 15.8125H20.25C19.8358 15.8125 19.5 15.4907 19.5 15.0938ZM0 17.9688C0 17.5718 0.335786 17.25 0.75 17.25H8.25C8.66421 17.25 9 17.5718 9 17.9688C9 18.3657 8.66421 18.6875 8.25 18.6875H0.75C0.335786 18.6875 0 18.3657 0 17.9688ZM19.5 17.9688C19.5 17.5718 19.8358 17.25 20.25 17.25H23.25C23.6642 17.25 24 17.5718 24 17.9688C24 18.3657 23.6642 18.6875 23.25 18.6875H20.25C19.8358 18.6875 19.5 18.3657 19.5 17.9688ZM0 20.8438C0 20.4468 0.335786 20.125 0.75 20.125H15.75C16.1642 20.125 16.5 20.4468 16.5 20.8438C16.5 21.2407 16.1642 21.5625 15.75 21.5625H0.75C0.335786 21.5625 0 21.2407 0 20.8438ZM19.5 20.8438C19.5 20.4468 19.8358 20.125 20.25 20.125H23.25C23.6642 20.125 24 20.4468 24 20.8438C24 21.2407 23.6642 21.5625 23.25 21.5625H20.25C19.8358 21.5625 19.5 21.2407 19.5 20.8438Z"
                            fill="#AA63EC" />
                    </svg>
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9788 0.247129C19.2839 -0.0823762 19.7786 -0.0823762 20.0837 0.247129L24.7712 5.30963C25.0763 5.63913 25.0763 6.17337 24.7712 6.50287L9.1462 23.3779C9.07139 23.4587 8.98216 23.5222 8.88392 23.5646L1.07142 26.9396C0.781252 27.065 0.449832 26.9915 0.228846 26.7529C0.0078592 26.5142 -0.0601674 26.1563 0.0559004 25.8429L3.1809 17.4054C3.22019 17.2993 3.27903 17.2029 3.35385 17.1221L18.9788 0.247129ZM17.5111 4.21875L21.0938 8.08801L23.1139 5.90625L19.5313 2.03699L17.5111 4.21875ZM19.9889 9.28125L16.4063 5.41199L6.25002 16.3807V16.875H7.03127C7.46275 16.875 7.81252 17.2528 7.81252 17.7187V18.5625H8.59377C9.02525 18.5625 9.37502 18.9403 9.37502 19.4062V20.25H9.83267L19.9889 9.28125ZM4.73698 18.0148L4.57209 18.1929L2.18366 24.6417L8.15473 22.0622L8.31962 21.8841C8.02338 21.7642 7.81252 21.4556 7.81252 21.0937V20.25H7.03127C6.5998 20.25 6.25002 19.8722 6.25002 19.4062V18.5625H5.46877C5.13377 18.5625 4.84801 18.3348 4.73698 18.0148Z"
                            fill="#AD6800" />
                    </svg>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="24" height="25" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_745_589" transform="scale(0.0208333 0.02)" />
                            </pattern>
                            <image id="image0_745_589" width="48" height="50"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAyCAYAAAAayliMAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI1SURBVHgB7Zr/VcIwEMe/qfh/J1CqC6AuwAbiBOoElAmACSgTCBMoE8gE0gV84AYMoI2XUrCmUFKbGnzm856v+dncmcsR7mDQyPzS74LDp6K7Y8gSDCPvJehAEwyaIOEHifB7iTj652HQgwYc6ILjTnWow9CGJrbuwLzh16nngYp1qFNkrGChPJJhigh9LwwW2S6JRPjnHwhUNQva5QtSYpluzJjQB9DE4QkvqEfImmlNbmAp4TnHmOojGIST0IzhNqlmvFttz+TFWRhMYZDXht/Mc5X6vJAhcneA3N01+fdTmISjkdedUYC2ZEqPblJt7HvBb3IMNpPbMiZEbmpKtj/GgSEcykk4mMjtO88HfR60Iqz++2RK6x0R14AhxJ2mIqS1+nEbWYW3w5ko3YXmFz5fl71ZoO3+pGOtP++FrAKmqaEEb1eddhTxFh22Cd3vg3RffCl0IL4juPR3I1/C8uYWoZQCJEC8MHkO4a2+CSEuXg5Ha13O9OfMLYIuE3JL9O+bm4s9xKaxCpjGKmAaq4BprAKmsQqYxipgGquAaawCpimlQBKl2zylFz9hlUZaOltyDHlzi2Ajc6ZRVWAT04njPRUhvVspgKyqQJiaoS3HK8MZel+V1Jo5qAW2RJibxdlLUfYpa+O+R/pyCGTo7tEq+d1ctzlgI8W5apDQj0gibZXDMaJQ5L3KUPVDHOFeZElQNTx2v8o/BinsEumg3dHjGqt8cqmwoISw+aFnOK1r+Xd8AgH1tbjs+aoDAAAAAElFTkSuQmCC" />
                        </defs>
                    </svg>
                </div>
            </article>

            <article>
                <img src="/img/productos/buttertoffee-agula.png" alt="">
                <div class="main-product">
                    <div id="categoria">Caramelo</div>
                    <div class="type">Caramelo masticable </div>
                    <div class="desc">
                    <p> "BUTTER TOFFEE"</p>
                    <p> Sabor Aguila</p>
                    </div>
                </div>
                <div>
                    <p>$170.00</p>
                </div>
                <div>
                    <p>1300u</p>
                </div>
                <div class="menu-article">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0.71875C0 0.321795 0.335786 0 0.75 0H14.25C14.6642 0 15 0.321795 15 0.71875C15 1.1157 14.6642 1.4375 14.25 1.4375H0.75C0.335786 1.4375 0 1.1157 0 0.71875ZM19.5 0.71875C19.5 0.321795 19.8358 0 20.25 0H23.25C23.6642 0 24 0.321795 24 0.71875C24 1.1157 23.6642 1.4375 23.25 1.4375H20.25C19.8358 1.4375 19.5 1.1157 19.5 0.71875ZM0 3.59375C0 3.1968 0.335786 2.875 0.75 2.875H12.75C13.1642 2.875 13.5 3.1968 13.5 3.59375C13.5 3.9907 13.1642 4.3125 12.75 4.3125H0.75C0.335786 4.3125 0 3.9907 0 3.59375ZM19.5 3.59375C19.5 3.1968 19.8358 2.875 20.25 2.875H23.25C23.6642 2.875 24 3.1968 24 3.59375C24 3.9907 23.6642 4.3125 23.25 4.3125H20.25C19.8358 4.3125 19.5 3.9907 19.5 3.59375ZM0 6.46875C0 6.0718 0.335786 5.75 0.75 5.75H15.75C16.1642 5.75 16.5 6.0718 16.5 6.46875C16.5 6.86571 16.1642 7.1875 15.75 7.1875H0.75C0.335786 7.1875 0 6.86571 0 6.46875ZM19.5 6.46875C19.5 6.0718 19.8358 5.75 20.25 5.75H23.25C23.6642 5.75 24 6.0718 24 6.46875C24 6.86571 23.6642 7.1875 23.25 7.1875H20.25C19.8358 7.1875 19.5 6.86571 19.5 6.46875ZM0 9.34375C0 8.9468 0.335786 8.625 0.75 8.625H11.25C11.6642 8.625 12 8.9468 12 9.34375C12 9.7407 11.6642 10.0625 11.25 10.0625H0.75C0.335786 10.0625 0 9.7407 0 9.34375ZM19.5 9.34375C19.5 8.9468 19.8358 8.625 20.25 8.625H23.25C23.6642 8.625 24 8.9468 24 9.34375C24 9.7407 23.6642 10.0625 23.25 10.0625H20.25C19.8358 10.0625 19.5 9.7407 19.5 9.34375ZM0 12.2188C0 11.8218 0.335786 11.5 0.75 11.5H11.25C11.6642 11.5 12 11.8218 12 12.2188C12 12.6157 11.6642 12.9375 11.25 12.9375H0.75C0.335786 12.9375 0 12.6157 0 12.2188ZM19.5 12.2188C19.5 11.8218 19.8358 11.5 20.25 11.5H23.25C23.6642 11.5 24 11.8218 24 12.2188C24 12.6157 23.6642 12.9375 23.25 12.9375H20.25C19.8358 12.9375 19.5 12.6157 19.5 12.2188ZM0 15.0938C0 14.6968 0.335786 14.375 0.75 14.375H14.25C14.6642 14.375 15 14.6968 15 15.0938C15 15.4907 14.6642 15.8125 14.25 15.8125H0.75C0.335786 15.8125 0 15.4907 0 15.0938ZM19.5 15.0938C19.5 14.6968 19.8358 14.375 20.25 14.375H23.25C23.6642 14.375 24 14.6968 24 15.0938C24 15.4907 23.6642 15.8125 23.25 15.8125H20.25C19.8358 15.8125 19.5 15.4907 19.5 15.0938ZM0 17.9688C0 17.5718 0.335786 17.25 0.75 17.25H8.25C8.66421 17.25 9 17.5718 9 17.9688C9 18.3657 8.66421 18.6875 8.25 18.6875H0.75C0.335786 18.6875 0 18.3657 0 17.9688ZM19.5 17.9688C19.5 17.5718 19.8358 17.25 20.25 17.25H23.25C23.6642 17.25 24 17.5718 24 17.9688C24 18.3657 23.6642 18.6875 23.25 18.6875H20.25C19.8358 18.6875 19.5 18.3657 19.5 17.9688ZM0 20.8438C0 20.4468 0.335786 20.125 0.75 20.125H15.75C16.1642 20.125 16.5 20.4468 16.5 20.8438C16.5 21.2407 16.1642 21.5625 15.75 21.5625H0.75C0.335786 21.5625 0 21.2407 0 20.8438ZM19.5 20.8438C19.5 20.4468 19.8358 20.125 20.25 20.125H23.25C23.6642 20.125 24 20.4468 24 20.8438C24 21.2407 23.6642 21.5625 23.25 21.5625H20.25C19.8358 21.5625 19.5 21.2407 19.5 20.8438Z"
                            fill="#AA63EC" />
                    </svg>
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9788 0.247129C19.2839 -0.0823762 19.7786 -0.0823762 20.0837 0.247129L24.7712 5.30963C25.0763 5.63913 25.0763 6.17337 24.7712 6.50287L9.1462 23.3779C9.07139 23.4587 8.98216 23.5222 8.88392 23.5646L1.07142 26.9396C0.781252 27.065 0.449832 26.9915 0.228846 26.7529C0.0078592 26.5142 -0.0601674 26.1563 0.0559004 25.8429L3.1809 17.4054C3.22019 17.2993 3.27903 17.2029 3.35385 17.1221L18.9788 0.247129ZM17.5111 4.21875L21.0938 8.08801L23.1139 5.90625L19.5313 2.03699L17.5111 4.21875ZM19.9889 9.28125L16.4063 5.41199L6.25002 16.3807V16.875H7.03127C7.46275 16.875 7.81252 17.2528 7.81252 17.7187V18.5625H8.59377C9.02525 18.5625 9.37502 18.9403 9.37502 19.4062V20.25H9.83267L19.9889 9.28125ZM4.73698 18.0148L4.57209 18.1929L2.18366 24.6417L8.15473 22.0622L8.31962 21.8841C8.02338 21.7642 7.81252 21.4556 7.81252 21.0937V20.25H7.03127C6.5998 20.25 6.25002 19.8722 6.25002 19.4062V18.5625H5.46877C5.13377 18.5625 4.84801 18.3348 4.73698 18.0148Z"
                            fill="#AD6800" />
                    </svg>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="24" height="25" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_745_589" transform="scale(0.0208333 0.02)" />
                            </pattern>
                            <image id="image0_745_589" width="48" height="50"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAyCAYAAAAayliMAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI1SURBVHgB7Zr/VcIwEMe/qfh/J1CqC6AuwAbiBOoElAmACSgTCBMoE8gE0gV84AYMoI2XUrCmUFKbGnzm856v+dncmcsR7mDQyPzS74LDp6K7Y8gSDCPvJehAEwyaIOEHifB7iTj652HQgwYc6ILjTnWow9CGJrbuwLzh16nngYp1qFNkrGChPJJhigh9LwwW2S6JRPjnHwhUNQva5QtSYpluzJjQB9DE4QkvqEfImmlNbmAp4TnHmOojGIST0IzhNqlmvFttz+TFWRhMYZDXht/Mc5X6vJAhcneA3N01+fdTmISjkdedUYC2ZEqPblJt7HvBb3IMNpPbMiZEbmpKtj/GgSEcykk4mMjtO88HfR60Iqz++2RK6x0R14AhxJ2mIqS1+nEbWYW3w5ko3YXmFz5fl71ZoO3+pGOtP++FrAKmqaEEb1eddhTxFh22Cd3vg3RffCl0IL4juPR3I1/C8uYWoZQCJEC8MHkO4a2+CSEuXg5Ha13O9OfMLYIuE3JL9O+bm4s9xKaxCpjGKmAaq4BprAKmsQqYxipgGquAaawCpimlQBKl2zylFz9hlUZaOltyDHlzi2Ajc6ZRVWAT04njPRUhvVspgKyqQJiaoS3HK8MZel+V1Jo5qAW2RJibxdlLUfYpa+O+R/pyCGTo7tEq+d1ctzlgI8W5apDQj0gibZXDMaJQ5L3KUPVDHOFeZElQNTx2v8o/BinsEumg3dHjGqt8cqmwoISw+aFnOK1r+Xd8AgH1tbjs+aoDAAAAAElFTkSuQmCC" />
                        </defs>
                    </svg>
                </div>
            </article>

            <article>
                <img src="/img/productos/buttertoffee-bon-o-bon.png" alt="">
                <div class="main-product">
                    <div id="categoria">Caramelo</div>
                    <div class="product">Caramelo masticable </div>
                    <div class="desc">
                    <p> "BUTTER TOFFEE"</p>
                    <p> Sabor Bon o Bon</p>
                    </div>
                </div>
                <div>
                    <p>$170.00</p>
                </div>
                <div>
                    <p>1100u</p>
                </div>
                <div class="menu-article">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0.71875C0 0.321795 0.335786 0 0.75 0H14.25C14.6642 0 15 0.321795 15 0.71875C15 1.1157 14.6642 1.4375 14.25 1.4375H0.75C0.335786 1.4375 0 1.1157 0 0.71875ZM19.5 0.71875C19.5 0.321795 19.8358 0 20.25 0H23.25C23.6642 0 24 0.321795 24 0.71875C24 1.1157 23.6642 1.4375 23.25 1.4375H20.25C19.8358 1.4375 19.5 1.1157 19.5 0.71875ZM0 3.59375C0 3.1968 0.335786 2.875 0.75 2.875H12.75C13.1642 2.875 13.5 3.1968 13.5 3.59375C13.5 3.9907 13.1642 4.3125 12.75 4.3125H0.75C0.335786 4.3125 0 3.9907 0 3.59375ZM19.5 3.59375C19.5 3.1968 19.8358 2.875 20.25 2.875H23.25C23.6642 2.875 24 3.1968 24 3.59375C24 3.9907 23.6642 4.3125 23.25 4.3125H20.25C19.8358 4.3125 19.5 3.9907 19.5 3.59375ZM0 6.46875C0 6.0718 0.335786 5.75 0.75 5.75H15.75C16.1642 5.75 16.5 6.0718 16.5 6.46875C16.5 6.86571 16.1642 7.1875 15.75 7.1875H0.75C0.335786 7.1875 0 6.86571 0 6.46875ZM19.5 6.46875C19.5 6.0718 19.8358 5.75 20.25 5.75H23.25C23.6642 5.75 24 6.0718 24 6.46875C24 6.86571 23.6642 7.1875 23.25 7.1875H20.25C19.8358 7.1875 19.5 6.86571 19.5 6.46875ZM0 9.34375C0 8.9468 0.335786 8.625 0.75 8.625H11.25C11.6642 8.625 12 8.9468 12 9.34375C12 9.7407 11.6642 10.0625 11.25 10.0625H0.75C0.335786 10.0625 0 9.7407 0 9.34375ZM19.5 9.34375C19.5 8.9468 19.8358 8.625 20.25 8.625H23.25C23.6642 8.625 24 8.9468 24 9.34375C24 9.7407 23.6642 10.0625 23.25 10.0625H20.25C19.8358 10.0625 19.5 9.7407 19.5 9.34375ZM0 12.2188C0 11.8218 0.335786 11.5 0.75 11.5H11.25C11.6642 11.5 12 11.8218 12 12.2188C12 12.6157 11.6642 12.9375 11.25 12.9375H0.75C0.335786 12.9375 0 12.6157 0 12.2188ZM19.5 12.2188C19.5 11.8218 19.8358 11.5 20.25 11.5H23.25C23.6642 11.5 24 11.8218 24 12.2188C24 12.6157 23.6642 12.9375 23.25 12.9375H20.25C19.8358 12.9375 19.5 12.6157 19.5 12.2188ZM0 15.0938C0 14.6968 0.335786 14.375 0.75 14.375H14.25C14.6642 14.375 15 14.6968 15 15.0938C15 15.4907 14.6642 15.8125 14.25 15.8125H0.75C0.335786 15.8125 0 15.4907 0 15.0938ZM19.5 15.0938C19.5 14.6968 19.8358 14.375 20.25 14.375H23.25C23.6642 14.375 24 14.6968 24 15.0938C24 15.4907 23.6642 15.8125 23.25 15.8125H20.25C19.8358 15.8125 19.5 15.4907 19.5 15.0938ZM0 17.9688C0 17.5718 0.335786 17.25 0.75 17.25H8.25C8.66421 17.25 9 17.5718 9 17.9688C9 18.3657 8.66421 18.6875 8.25 18.6875H0.75C0.335786 18.6875 0 18.3657 0 17.9688ZM19.5 17.9688C19.5 17.5718 19.8358 17.25 20.25 17.25H23.25C23.6642 17.25 24 17.5718 24 17.9688C24 18.3657 23.6642 18.6875 23.25 18.6875H20.25C19.8358 18.6875 19.5 18.3657 19.5 17.9688ZM0 20.8438C0 20.4468 0.335786 20.125 0.75 20.125H15.75C16.1642 20.125 16.5 20.4468 16.5 20.8438C16.5 21.2407 16.1642 21.5625 15.75 21.5625H0.75C0.335786 21.5625 0 21.2407 0 20.8438ZM19.5 20.8438C19.5 20.4468 19.8358 20.125 20.25 20.125H23.25C23.6642 20.125 24 20.4468 24 20.8438C24 21.2407 23.6642 21.5625 23.25 21.5625H20.25C19.8358 21.5625 19.5 21.2407 19.5 20.8438Z"
                            fill="#AA63EC" />
                    </svg>
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9788 0.247129C19.2839 -0.0823762 19.7786 -0.0823762 20.0837 0.247129L24.7712 5.30963C25.0763 5.63913 25.0763 6.17337 24.7712 6.50287L9.1462 23.3779C9.07139 23.4587 8.98216 23.5222 8.88392 23.5646L1.07142 26.9396C0.781252 27.065 0.449832 26.9915 0.228846 26.7529C0.0078592 26.5142 -0.0601674 26.1563 0.0559004 25.8429L3.1809 17.4054C3.22019 17.2993 3.27903 17.2029 3.35385 17.1221L18.9788 0.247129ZM17.5111 4.21875L21.0938 8.08801L23.1139 5.90625L19.5313 2.03699L17.5111 4.21875ZM19.9889 9.28125L16.4063 5.41199L6.25002 16.3807V16.875H7.03127C7.46275 16.875 7.81252 17.2528 7.81252 17.7187V18.5625H8.59377C9.02525 18.5625 9.37502 18.9403 9.37502 19.4062V20.25H9.83267L19.9889 9.28125ZM4.73698 18.0148L4.57209 18.1929L2.18366 24.6417L8.15473 22.0622L8.31962 21.8841C8.02338 21.7642 7.81252 21.4556 7.81252 21.0937V20.25H7.03127C6.5998 20.25 6.25002 19.8722 6.25002 19.4062V18.5625H5.46877C5.13377 18.5625 4.84801 18.3348 4.73698 18.0148Z"
                            fill="#AD6800" />
                    </svg>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="24" height="25" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_745_589" transform="scale(0.0208333 0.02)" />
                            </pattern>
                            <image id="image0_745_589" width="48" height="50"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAyCAYAAAAayliMAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI1SURBVHgB7Zr/VcIwEMe/qfh/J1CqC6AuwAbiBOoElAmACSgTCBMoE8gE0gV84AYMoI2XUrCmUFKbGnzm856v+dncmcsR7mDQyPzS74LDp6K7Y8gSDCPvJehAEwyaIOEHifB7iTj652HQgwYc6ILjTnWow9CGJrbuwLzh16nngYp1qFNkrGChPJJhigh9LwwW2S6JRPjnHwhUNQva5QtSYpluzJjQB9DE4QkvqEfImmlNbmAp4TnHmOojGIST0IzhNqlmvFttz+TFWRhMYZDXht/Mc5X6vJAhcneA3N01+fdTmISjkdedUYC2ZEqPblJt7HvBb3IMNpPbMiZEbmpKtj/GgSEcykk4mMjtO88HfR60Iqz++2RK6x0R14AhxJ2mIqS1+nEbWYW3w5ko3YXmFz5fl71ZoO3+pGOtP++FrAKmqaEEb1eddhTxFh22Cd3vg3RffCl0IL4juPR3I1/C8uYWoZQCJEC8MHkO4a2+CSEuXg5Ha13O9OfMLYIuE3JL9O+bm4s9xKaxCpjGKmAaq4BprAKmsQqYxipgGquAaawCpimlQBKl2zylFz9hlUZaOltyDHlzi2Ajc6ZRVWAT04njPRUhvVspgKyqQJiaoS3HK8MZel+V1Jo5qAW2RJibxdlLUfYpa+O+R/pyCGTo7tEq+d1ctzlgI8W5apDQj0gibZXDMaJQ5L3KUPVDHOFeZElQNTx2v8o/BinsEumg3dHjGqt8cqmwoISw+aFnOK1r+Xd8AgH1tbjs+aoDAAAAAElFTkSuQmCC" />
                        </defs>
                    </svg>
                </div>
            </article>

            <article>
                <img src="/img/productos/buttertoffee-milk.png" alt="">
                <div class="main-product">
                    <div id="categoria">Caramelo</div>
                    <div class="product">Caramelo masticable </div>
                    <div class="desc">
                    <p> "BUTTER TOFFEE"</p>
                    <p> Sabor Leche/Milk</p>
                </div>
                </div>
                <div>
                    <p>$190.00</p>
                </div>
                <div>
                    <p>900u</p>
                </div>
                <div class="menu-article">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0.71875C0 0.321795 0.335786 0 0.75 0H14.25C14.6642 0 15 0.321795 15 0.71875C15 1.1157 14.6642 1.4375 14.25 1.4375H0.75C0.335786 1.4375 0 1.1157 0 0.71875ZM19.5 0.71875C19.5 0.321795 19.8358 0 20.25 0H23.25C23.6642 0 24 0.321795 24 0.71875C24 1.1157 23.6642 1.4375 23.25 1.4375H20.25C19.8358 1.4375 19.5 1.1157 19.5 0.71875ZM0 3.59375C0 3.1968 0.335786 2.875 0.75 2.875H12.75C13.1642 2.875 13.5 3.1968 13.5 3.59375C13.5 3.9907 13.1642 4.3125 12.75 4.3125H0.75C0.335786 4.3125 0 3.9907 0 3.59375ZM19.5 3.59375C19.5 3.1968 19.8358 2.875 20.25 2.875H23.25C23.6642 2.875 24 3.1968 24 3.59375C24 3.9907 23.6642 4.3125 23.25 4.3125H20.25C19.8358 4.3125 19.5 3.9907 19.5 3.59375ZM0 6.46875C0 6.0718 0.335786 5.75 0.75 5.75H15.75C16.1642 5.75 16.5 6.0718 16.5 6.46875C16.5 6.86571 16.1642 7.1875 15.75 7.1875H0.75C0.335786 7.1875 0 6.86571 0 6.46875ZM19.5 6.46875C19.5 6.0718 19.8358 5.75 20.25 5.75H23.25C23.6642 5.75 24 6.0718 24 6.46875C24 6.86571 23.6642 7.1875 23.25 7.1875H20.25C19.8358 7.1875 19.5 6.86571 19.5 6.46875ZM0 9.34375C0 8.9468 0.335786 8.625 0.75 8.625H11.25C11.6642 8.625 12 8.9468 12 9.34375C12 9.7407 11.6642 10.0625 11.25 10.0625H0.75C0.335786 10.0625 0 9.7407 0 9.34375ZM19.5 9.34375C19.5 8.9468 19.8358 8.625 20.25 8.625H23.25C23.6642 8.625 24 8.9468 24 9.34375C24 9.7407 23.6642 10.0625 23.25 10.0625H20.25C19.8358 10.0625 19.5 9.7407 19.5 9.34375ZM0 12.2188C0 11.8218 0.335786 11.5 0.75 11.5H11.25C11.6642 11.5 12 11.8218 12 12.2188C12 12.6157 11.6642 12.9375 11.25 12.9375H0.75C0.335786 12.9375 0 12.6157 0 12.2188ZM19.5 12.2188C19.5 11.8218 19.8358 11.5 20.25 11.5H23.25C23.6642 11.5 24 11.8218 24 12.2188C24 12.6157 23.6642 12.9375 23.25 12.9375H20.25C19.8358 12.9375 19.5 12.6157 19.5 12.2188ZM0 15.0938C0 14.6968 0.335786 14.375 0.75 14.375H14.25C14.6642 14.375 15 14.6968 15 15.0938C15 15.4907 14.6642 15.8125 14.25 15.8125H0.75C0.335786 15.8125 0 15.4907 0 15.0938ZM19.5 15.0938C19.5 14.6968 19.8358 14.375 20.25 14.375H23.25C23.6642 14.375 24 14.6968 24 15.0938C24 15.4907 23.6642 15.8125 23.25 15.8125H20.25C19.8358 15.8125 19.5 15.4907 19.5 15.0938ZM0 17.9688C0 17.5718 0.335786 17.25 0.75 17.25H8.25C8.66421 17.25 9 17.5718 9 17.9688C9 18.3657 8.66421 18.6875 8.25 18.6875H0.75C0.335786 18.6875 0 18.3657 0 17.9688ZM19.5 17.9688C19.5 17.5718 19.8358 17.25 20.25 17.25H23.25C23.6642 17.25 24 17.5718 24 17.9688C24 18.3657 23.6642 18.6875 23.25 18.6875H20.25C19.8358 18.6875 19.5 18.3657 19.5 17.9688ZM0 20.8438C0 20.4468 0.335786 20.125 0.75 20.125H15.75C16.1642 20.125 16.5 20.4468 16.5 20.8438C16.5 21.2407 16.1642 21.5625 15.75 21.5625H0.75C0.335786 21.5625 0 21.2407 0 20.8438ZM19.5 20.8438C19.5 20.4468 19.8358 20.125 20.25 20.125H23.25C23.6642 20.125 24 20.4468 24 20.8438C24 21.2407 23.6642 21.5625 23.25 21.5625H20.25C19.8358 21.5625 19.5 21.2407 19.5 20.8438Z"
                            fill="#AA63EC" />
                    </svg>
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9788 0.247129C19.2839 -0.0823762 19.7786 -0.0823762 20.0837 0.247129L24.7712 5.30963C25.0763 5.63913 25.0763 6.17337 24.7712 6.50287L9.1462 23.3779C9.07139 23.4587 8.98216 23.5222 8.88392 23.5646L1.07142 26.9396C0.781252 27.065 0.449832 26.9915 0.228846 26.7529C0.0078592 26.5142 -0.0601674 26.1563 0.0559004 25.8429L3.1809 17.4054C3.22019 17.2993 3.27903 17.2029 3.35385 17.1221L18.9788 0.247129ZM17.5111 4.21875L21.0938 8.08801L23.1139 5.90625L19.5313 2.03699L17.5111 4.21875ZM19.9889 9.28125L16.4063 5.41199L6.25002 16.3807V16.875H7.03127C7.46275 16.875 7.81252 17.2528 7.81252 17.7187V18.5625H8.59377C9.02525 18.5625 9.37502 18.9403 9.37502 19.4062V20.25H9.83267L19.9889 9.28125ZM4.73698 18.0148L4.57209 18.1929L2.18366 24.6417L8.15473 22.0622L8.31962 21.8841C8.02338 21.7642 7.81252 21.4556 7.81252 21.0937V20.25H7.03127C6.5998 20.25 6.25002 19.8722 6.25002 19.4062V18.5625H5.46877C5.13377 18.5625 4.84801 18.3348 4.73698 18.0148Z"
                            fill="#AD6800" />
                    </svg>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="24" height="25" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_745_589" transform="scale(0.0208333 0.02)" />
                            </pattern>
                            <image id="image0_745_589" width="48" height="50"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAyCAYAAAAayliMAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI1SURBVHgB7Zr/VcIwEMe/qfh/J1CqC6AuwAbiBOoElAmACSgTCBMoE8gE0gV84AYMoI2XUrCmUFKbGnzm856v+dncmcsR7mDQyPzS74LDp6K7Y8gSDCPvJehAEwyaIOEHifB7iTj652HQgwYc6ILjTnWow9CGJrbuwLzh16nngYp1qFNkrGChPJJhigh9LwwW2S6JRPjnHwhUNQva5QtSYpluzJjQB9DE4QkvqEfImmlNbmAp4TnHmOojGIST0IzhNqlmvFttz+TFWRhMYZDXht/Mc5X6vJAhcneA3N01+fdTmISjkdedUYC2ZEqPblJt7HvBb3IMNpPbMiZEbmpKtj/GgSEcykk4mMjtO88HfR60Iqz++2RK6x0R14AhxJ2mIqS1+nEbWYW3w5ko3YXmFz5fl71ZoO3+pGOtP++FrAKmqaEEb1eddhTxFh22Cd3vg3RffCl0IL4juPR3I1/C8uYWoZQCJEC8MHkO4a2+CSEuXg5Ha13O9OfMLYIuE3JL9O+bm4s9xKaxCpjGKmAaq4BprAKmsQqYxipgGquAaawCpimlQBKl2zylFz9hlUZaOltyDHlzi2Ajc6ZRVWAT04njPRUhvVspgKyqQJiaoS3HK8MZel+V1Jo5qAW2RJibxdlLUfYpa+O+R/pyCGTo7tEq+d1ctzlgI8W5apDQj0gibZXDMaJQ5L3KUPVDHOFeZElQNTx2v8o/BinsEumg3dHjGqt8cqmwoISw+aFnOK1r+Xd8AgH1tbjs+aoDAAAAAElFTkSuQmCC" />
                        </defs>
                    </svg>
                </div>
            </article>

            <article>
                <img src="/img/productos/buttertoffee-milk.png" alt="">
                <div class="main-product">
                    <div id="categoria">Caramelo</div>
                    <div class="product">Caramelo masticable </div>
                    <div class="desc">
                    <p> "BUTTER TOFFEE"</p>
                    <p> Sabor Chocolate</p>
                    </div>
                </div>
                <div>
                    <p>$190.00</p>
                </div>
                <div>
                    <p>1500u</p>
                </div>
                <div class="menu-article">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0.71875C0 0.321795 0.335786 0 0.75 0H14.25C14.6642 0 15 0.321795 15 0.71875C15 1.1157 14.6642 1.4375 14.25 1.4375H0.75C0.335786 1.4375 0 1.1157 0 0.71875ZM19.5 0.71875C19.5 0.321795 19.8358 0 20.25 0H23.25C23.6642 0 24 0.321795 24 0.71875C24 1.1157 23.6642 1.4375 23.25 1.4375H20.25C19.8358 1.4375 19.5 1.1157 19.5 0.71875ZM0 3.59375C0 3.1968 0.335786 2.875 0.75 2.875H12.75C13.1642 2.875 13.5 3.1968 13.5 3.59375C13.5 3.9907 13.1642 4.3125 12.75 4.3125H0.75C0.335786 4.3125 0 3.9907 0 3.59375ZM19.5 3.59375C19.5 3.1968 19.8358 2.875 20.25 2.875H23.25C23.6642 2.875 24 3.1968 24 3.59375C24 3.9907 23.6642 4.3125 23.25 4.3125H20.25C19.8358 4.3125 19.5 3.9907 19.5 3.59375ZM0 6.46875C0 6.0718 0.335786 5.75 0.75 5.75H15.75C16.1642 5.75 16.5 6.0718 16.5 6.46875C16.5 6.86571 16.1642 7.1875 15.75 7.1875H0.75C0.335786 7.1875 0 6.86571 0 6.46875ZM19.5 6.46875C19.5 6.0718 19.8358 5.75 20.25 5.75H23.25C23.6642 5.75 24 6.0718 24 6.46875C24 6.86571 23.6642 7.1875 23.25 7.1875H20.25C19.8358 7.1875 19.5 6.86571 19.5 6.46875ZM0 9.34375C0 8.9468 0.335786 8.625 0.75 8.625H11.25C11.6642 8.625 12 8.9468 12 9.34375C12 9.7407 11.6642 10.0625 11.25 10.0625H0.75C0.335786 10.0625 0 9.7407 0 9.34375ZM19.5 9.34375C19.5 8.9468 19.8358 8.625 20.25 8.625H23.25C23.6642 8.625 24 8.9468 24 9.34375C24 9.7407 23.6642 10.0625 23.25 10.0625H20.25C19.8358 10.0625 19.5 9.7407 19.5 9.34375ZM0 12.2188C0 11.8218 0.335786 11.5 0.75 11.5H11.25C11.6642 11.5 12 11.8218 12 12.2188C12 12.6157 11.6642 12.9375 11.25 12.9375H0.75C0.335786 12.9375 0 12.6157 0 12.2188ZM19.5 12.2188C19.5 11.8218 19.8358 11.5 20.25 11.5H23.25C23.6642 11.5 24 11.8218 24 12.2188C24 12.6157 23.6642 12.9375 23.25 12.9375H20.25C19.8358 12.9375 19.5 12.6157 19.5 12.2188ZM0 15.0938C0 14.6968 0.335786 14.375 0.75 14.375H14.25C14.6642 14.375 15 14.6968 15 15.0938C15 15.4907 14.6642 15.8125 14.25 15.8125H0.75C0.335786 15.8125 0 15.4907 0 15.0938ZM19.5 15.0938C19.5 14.6968 19.8358 14.375 20.25 14.375H23.25C23.6642 14.375 24 14.6968 24 15.0938C24 15.4907 23.6642 15.8125 23.25 15.8125H20.25C19.8358 15.8125 19.5 15.4907 19.5 15.0938ZM0 17.9688C0 17.5718 0.335786 17.25 0.75 17.25H8.25C8.66421 17.25 9 17.5718 9 17.9688C9 18.3657 8.66421 18.6875 8.25 18.6875H0.75C0.335786 18.6875 0 18.3657 0 17.9688ZM19.5 17.9688C19.5 17.5718 19.8358 17.25 20.25 17.25H23.25C23.6642 17.25 24 17.5718 24 17.9688C24 18.3657 23.6642 18.6875 23.25 18.6875H20.25C19.8358 18.6875 19.5 18.3657 19.5 17.9688ZM0 20.8438C0 20.4468 0.335786 20.125 0.75 20.125H15.75C16.1642 20.125 16.5 20.4468 16.5 20.8438C16.5 21.2407 16.1642 21.5625 15.75 21.5625H0.75C0.335786 21.5625 0 21.2407 0 20.8438ZM19.5 20.8438C19.5 20.4468 19.8358 20.125 20.25 20.125H23.25C23.6642 20.125 24 20.4468 24 20.8438C24 21.2407 23.6642 21.5625 23.25 21.5625H20.25C19.8358 21.5625 19.5 21.2407 19.5 20.8438Z"
                            fill="#AA63EC" />
                    </svg>
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9788 0.247129C19.2839 -0.0823762 19.7786 -0.0823762 20.0837 0.247129L24.7712 5.30963C25.0763 5.63913 25.0763 6.17337 24.7712 6.50287L9.1462 23.3779C9.07139 23.4587 8.98216 23.5222 8.88392 23.5646L1.07142 26.9396C0.781252 27.065 0.449832 26.9915 0.228846 26.7529C0.0078592 26.5142 -0.0601674 26.1563 0.0559004 25.8429L3.1809 17.4054C3.22019 17.2993 3.27903 17.2029 3.35385 17.1221L18.9788 0.247129ZM17.5111 4.21875L21.0938 8.08801L23.1139 5.90625L19.5313 2.03699L17.5111 4.21875ZM19.9889 9.28125L16.4063 5.41199L6.25002 16.3807V16.875H7.03127C7.46275 16.875 7.81252 17.2528 7.81252 17.7187V18.5625H8.59377C9.02525 18.5625 9.37502 18.9403 9.37502 19.4062V20.25H9.83267L19.9889 9.28125ZM4.73698 18.0148L4.57209 18.1929L2.18366 24.6417L8.15473 22.0622L8.31962 21.8841C8.02338 21.7642 7.81252 21.4556 7.81252 21.0937V20.25H7.03127C6.5998 20.25 6.25002 19.8722 6.25002 19.4062V18.5625H5.46877C5.13377 18.5625 4.84801 18.3348 4.73698 18.0148Z"
                            fill="#AD6800" />
                    </svg>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="24" height="25" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_745_589" transform="scale(0.0208333 0.02)" />
                            </pattern>
                            <image id="image0_745_589" width="48" height="50"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAyCAYAAAAayliMAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI1SURBVHgB7Zr/VcIwEMe/qfh/J1CqC6AuwAbiBOoElAmACSgTCBMoE8gE0gV84AYMoI2XUrCmUFKbGnzm856v+dncmcsR7mDQyPzS74LDp6K7Y8gSDCPvJehAEwyaIOEHifB7iTj652HQgwYc6ILjTnWow9CGJrbuwLzh16nngYp1qFNkrGChPJJhigh9LwwW2S6JRPjnHwhUNQva5QtSYpluzJjQB9DE4QkvqEfImmlNbmAp4TnHmOojGIST0IzhNqlmvFttz+TFWRhMYZDXht/Mc5X6vJAhcneA3N01+fdTmISjkdedUYC2ZEqPblJt7HvBb3IMNpPbMiZEbmpKtj/GgSEcykk4mMjtO88HfR60Iqz++2RK6x0R14AhxJ2mIqS1+nEbWYW3w5ko3YXmFz5fl71ZoO3+pGOtP++FrAKmqaEEb1eddhTxFh22Cd3vg3RffCl0IL4juPR3I1/C8uYWoZQCJEC8MHkO4a2+CSEuXg5Ha13O9OfMLYIuE3JL9O+bm4s9xKaxCpjGKmAaq4BprAKmsQqYxipgGquAaawCpimlQBKl2zylFz9hlUZaOltyDHlzi2Ajc6ZRVWAT04njPRUhvVspgKyqQJiaoS3HK8MZel+V1Jo5qAW2RJibxdlLUfYpa+O+R/pyCGTo7tEq+d1ctzlgI8W5apDQj0gibZXDMaJQ5L3KUPVDHOFeZElQNTx2v8o/BinsEumg3dHjGqt8cqmwoISw+aFnOK1r+Xd8AgH1tbjs+aoDAAAAAElFTkSuQmCC" />
                        </defs>
                    </svg>
                </div>
            </article>
        </div>
</main>

    <%- include('../partials/footer') %>
</body>
</html>
