<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/room.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- JS -->
    <script src="/js/menu.js"></script>

</head>
<body onresize="resizeMenu()">
    <!-- Rocio Marcos -->

    <%- include('../partials/nav') %>

    <main>

        <section id="anuncio">
            <div class="bg-rosaoscuro text-blanco contenedor">
                <h3 class="fw-5">Tu compra es <b>100%</b> segura</h3>
                <h6 class="fw-4">¿Necesitas ayuda?<br>Llamanos<br><b>+54 123 456 7890</b></h6>
                <h5 class="fw-4">¿Necesitas ayuda? Llamanos <b>+54 123 456 7890</b></h5>
            </div>
        </section>

        <!-- Lista de compra -->
        <section id="carrito">
            <div class="contenedor">
                <h1>Tu pedido</h1>

                <div id="lista-productos">

                    <ul class="titulos">
                        <li>Producto</li>
                        <li></li>
                        <li></li>
                        <li>Precio</li>
                        <li>Cantidad</li>
                        <li>Quitar</li>
                    </ul>

                    <ul class="producto">
                        <li>
                            <img src="/img/productos/flynnpaff-tutti.png" alt="Flynn Paff Tutti Frutti">
                            <div>
                                <h6>Caramelo masticable</h6>
                                <p>"FLYNN PAFF"</p>
                                <p>Sabor Tutti-Frutti</p>
                            </div>
                        </li>

                        <li>
                            <p>$ 150,00</p>
                        </li>

                        <li>
                            <div class="btn-menos-mas">
                                <button onclick="" class="menos-btn"><i class="bi bi-dash"></i></button>
                                <input type="text" id="cantidad" name="cantidad" maxlength="3" placeholder="1">
                                <button onclick="" class="mas-btn"><i class="bi bi-plus"></i></button>
                            </div>
                        </li>
                        
                        <li>
                            <i class="bi bi-trash"></i>
                        </li>
                    </ul>

                    <ul class="producto">
                        <li>
                            <img src="/img/productos/flynnpaff-manzana.png" alt="Flynn Paff Manzana">
                            <div>
                                <h6>Caramelo masticable</h6>
                                <p>"FLYNN PAFF"</p>
                                <p>Sabor Manzana</p>
                            </div>
                        </li>

                        <li>
                            <p>$ 150,00</p>
                        </li>

                        <li>
                            <div class="btn-menos-mas">
                                <button onclick="" class="menos-btn"><i class="bi bi-dash"></i></button>
                                <input type="text" id="cantidad" name="cantidad" maxlength="3" placeholder="1">
                                <button onclick="" class="mas-btn"><i class="bi bi-plus"></i></button>
                            </div>
                        </li>
                        
                        <li>
                            <i class="bi bi-trash"></i>
                        </li>
                    </ul>
                </div>

                <a class="btn-rosa" href="#pagar">Ir a pagar</a>
            </div>
        </section>


        <!-- Recomendados -->
        <section id="acompaniar">
            <div class="contenedor">
                <h2>Acompaña tu compra con:</h2>

                <article class="producto">
                    <div>
                        <img src="/img/productos/flynnpaff-banana.png" alt="Flynn Paff Banana">  
                        <div class="precioUnitario-xs">
                            <h6>Precio</h6>
                            <p>$ 150,00 c/u</p>
                        </div>
                    </div>
                    <div>
                        <h6>Caramelo masticable</h6>
                        <p>"FLYNN PAFF"</p>
                        <p>Sabor Banana</p>

                        <div class="descripcionProducto">
                            Caramelos masticables GEORGALOS "Flynn Paff: Sabor Banana" (Por unidad)
                        </div>

                        <div class="precioUnitario-lg">
                            <h4>$ 150,00</h4>
                        </div>     
                        <div class="agregarproducto">
                            <input type="text" id="cantidad-mas" name="cantidad" maxlength="3" placeholder="0">
                            <button><i class="bi bi-cart-plus-fill"></i></button>
                        </div>
                    </div>
                    <div class="agregarproducto-lg">
                        <button class="btn-rosa">Agregar al carrito</button>
                    </div>
                </article>

                <article class="producto">
                    <div>
                        <img src="/img/productos/flynnpaff-uva.png" alt="Flynn Paff Uva">
                        <div class="precioUnitario-xs">
                            <h6>Precio</h6>
                            <p>$ 150,00</p>
                        </div>
                    </div>
                    <div>
                        <h6>Caramelo masticable</h6>
                        <p>"FLYNN PAFF"</p>
                        <p>Sabor Uva</p>

                        <div class="descripcionProducto">
                            Caramelos masticables GEORGALOS "Flynn Paff: Sabor Uva" (Por unidad)
                        </div>

                        <div class="precioUnitario-lg">
                            <h4>$ 150,00</h4>
                        </div>
                        <div class="agregarproducto">
                            <input type="text" id="cantidad-mas" name="cantidad" maxlength="3" placeholder="0">
                            <button><i class="bi bi-cart-plus-fill"></i></button>
                        </div>
                    </div>
                    <div class="agregarproducto-lg">
                        <button class="btn-rosa">Agregar al carrito</button>
                    </div>
                </article>

                <article class="producto">
                    <div>
                        <img src="/img/productos/flynnpaff-frutilla.png" alt="Flynn Paff Frutilla">
                        <div class="precioUnitario-xs">
                            <h6>Precio</h6>
                            <p>$ 150,00</p>
                        </div>
                    </div>
                    <div>
                        <h6>Caramelo masticable</h6>
                        <p>"FLYNN PAFF"</p>
                        <p>Sabor Frutilla</p>

                        <div class="descripcionProducto">
                            Caramelos masticables GEORGALOS "Flynn Paff: Sabor Frutilla" (Por unidad)
                        </div>

                        <div class="precioUnitario-lg">
                            <h4>$ 150,00</h4>
                        </div>
                        <div class="agregarproducto">
                            <input type="text" id="cantidad-mas" name="cantidad" maxlength="3" placeholder="0">
                            <button><i class="bi bi-cart-plus-fill"></i></button>
                        </div>
                    </div>
                    <div class="agregarproducto-lg">
                        <button class="btn-rosa">Agregar al carrito</button>
                    </div>
                </article>
            </div>
        </section>


        <!-- Pagar -->
        <section id="pagar">
            <div class="contenedor">

                <button class="btn-rosa">Añadir cupón de descuento</button>
    
                <div class="d-flex jc-between">
                    <p>Subtotal</p>
                    <p>$ 300,00</p>
                </div>
    
                <div class="d-flex jc-between mt-1">
                    <p>Descuentos</p>
                    <p>$ 169,30</p>
                </div>
    
                <div class="d-flex jc-between text-violeta mt-3">
                    <h3>Total</h3>
                    <h3>$ 130,70</h3>
                </div>
    
                <button class="btn-rosa-full">Finalizar compra</button>
    
                <div class="terminos">
                    <button><i class="bi bi-check-square-fill"></i></button>
                    <p>Acepto <a href="#">términos y condiciones</a> y autorizo el tratamiento de mis datos personales conforme a la <a href="#">política de privacidad y tratamiento de datos personales.</a></p>
                </div>
    
                <div class="perks">
                    <div>
                        <i class="bi bi-lock"></i>
                        <p>Pago<br>seguro</p>
                    </div>
    
                    <div>
                        <i class="bi bi-truck"></i>
                        <p>Cambios y<br>devoluciones</p>
                    </div>
    
                    <div>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>Clientes<br>satisfechos</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%- include('../partials/footer') %>

</body>
</html>