<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/home.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
    <!-- Rita Ledesma -->
    <header>
        <nav class="sombra-sm">
            <!-- Logo -->
            <div>
                <img src="/img/candyshop-sm.png" alt="Logo de CandyShop" width="66px">
            </div>
        <!-- Opciones -->
            <div>
                <ul>
                    <li><a href="/home">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="/login">Iniciar Sesión</a></li>
                </ul>
                <a href="/carrito"><i class="bi bi-cart"></i></a>
                <button><i class="bi bi-list"></i></button>
            </div>

        </nav>
    </header>
        <!-- Slider -->

    <main>
        <section class="publisher">
            <div class="logos">
                <img src="/img/home img/Arcor_logo 1.png" alt="">
                <img src="/img/home img/Aguila_logo 2.png" alt="">
            </div>
            <div class="banner">
                <img src="/img/home img/chocolates.png" alt="">
                <img src="/img/home img/banner-turron.png" alt="">
            </div>
        </section>

        <section class="iconos">
            <div class="envio">
               <img src="/img/enviado 1.png" alt="">
               <h3>ENVÍO GRATUITO</h3>
               <p>A todas nuestras zonas de cobertura</p>
            </div>

            <div class="min-compra">
                <img src="/img/cesta-de-mano 1.png" alt="">
                <h3>MÍNIMO DE COMPRA</h3>
                <p>Entregamos pedidos mayores a $7.500</p>
            </div>

            <div class="pago">
                <img src="/img/credit-cards 1.png" alt="">
                <h3>PAGÁ CON TARJETA</h3>
                <p>Débito o Crédito, nos adaptamos a tus preferencias</p>
            </div>

        </section>

        <section class="new-products">
            <h3>NUEVOS PRODUCTOS:</h3>

            <article class="chocolina">
                <img src="/img/home img/chocolinas.png" alt="">
                <div class="detail">
                    <div class="cat">Galletas Dulces</div>
                    <div class="product"> Chocolinas </div>
                    <div class="desc">Galleta Rellena <br> Chocolate <br> 258 gr</div> 
                </div> 
                <div class="price">$350</div>
                <button class="add">Agregar al Carrito</button>
            </article>

            <article class="sonrisas">
                <img src="/img/home img/sonrisas 1.png" alt="">
                <div class="detail">
                    <div class="cat">Galletas Dulces</div>
                    <div class="product"> Sonrisas </div>
                    <div class="desc">Galleta Rellena <br> 108 gr</div> 
                </div> 
                <div class="price">$150</div>
                <button class="add">Agregar al Carrito</button>
            </article>

            <article class="rumba">
                <img src="/img/home img/rumba 1.png" alt="">
                <div class="detail">
                    <div class="cat">Galletas Dulces</div>
                    <div class="product"> Rumba </div>
                    <div class="desc">Galleta Rellena <br> Chocolate <br> 324 gr</div> 
                </div> 
                <div class="price">$250</div>
                <button class="add">Agregar al Carrito</button>
            </article>


        </section>
        <img src="/img/Buttons.svg" alt="">
        <section class="star-products">
            <h3>PRODUCTOS ESTRELLA:</h3>
            <h4>¡Los mas pedidos y amados por nuestros clientes!</h4>
            <article class="bombon">
                <img src="/img/productos/bonobon-blanco.png" alt="">
                <div class="detail">
                    <div class="cat">Bombón</div>
                    <div class="product"> Bon o Bon <br> Blanco</div>
                    <div class="desc">Chocolate relleno</div> 
                </div> 
                <div class="price">$150</div>
                <button class="add">Agregar al Carrito</button>
            </article>

            <article class="caramelo1">
                <img src="/img/productos/flynnpaff-tutti.png" alt="">
                <div class="detail">
                    <div class="cat">Caramelo masticable</div>
                    <div class="product"> FLYNN-PAFF</div>
                    <div class="desc">sabor Tutti-Frutti /div> 
                </div> 
                <div class="price">$150</div>
                <button class="add">Agregar al Carrito</button>
            </article>
            
            <article class="caramelo2">
                <img src="/img/productos/buttertoffee-agula.png" alt="">
                <div class="detail">
                    <div class="cat">Caramelo masticable</div>
                    <div class="product"> Butter Toffee</div>
                    <div class="desc">Aguila</div> 
                </div> 
                <div class="price">$150</div>
                <button class="add">Agregar al Carrito</button>
            </article>
        </section>
        <h3>VISITÁ NUESTRAS CATEGORIAS</h3>
        <section class="categories">
            <div>
                <img src="/img/home img/alfajores.png" alt="">
                <h3>ALFAJORES</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>CHOCOLATES</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>CARAMELOS</h3>
            </div>
        </section>

    </main>
    <footer>
        <div>
            <div class="redes">
                <p>Seguinos en<br>nuestras redes</p>
                <ul>
                    <li><a href=""><i class="bi bi-telegram"></i></a></li>
                    <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                    <li><a href=""><i class="bi bi-tiktok"></i></a></li>
                    <li><a href=""><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>

            <div class="copyright">
                <img src="/img/candyshop.png" alt="Logo de CandyShop" width="200px">
                <p>© 2023 CandyShop<br>All rights reserved</p>
            </div>
        </div>
    </footer>


</body>
</html>




