<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/room.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    <!-- Rocio Marcos -->

    <nav class="sombra-sm">
        <!-- Logo -->
        <div>
            <img src="/img/candyshop-sm.png" alt="Logo de CandyShop" width="66px">
        </div>
        <!-- Opciones -->
        <div>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
            <a href="/carrito"><i class="bi bi-cart"></i></a>
            <button><i class="bi bi-list"></i></button>
        </div>

    </nav>

    <main>

        <section id="anuncio">
            <div class="bg-rosaoscuro text-blanco contenedor">
                <h3 class="fw-5">Tu compra es <b>100%</b> segura</h3>
                <h6 class="fw-4">¿Necesitas ayuda?<br>Llamanos<br><b>+54 123 456 7890</b></h6>
            </div>
        </section>

        <!-- Lista de compra -->
        <section id="carrito">
            <div class="contenedor">
                <h1>Tu pedido</h1>

                <table>
                    <thead>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th></th>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="table-first">
                                <img src="/img/productos/flynnpaff-manzana.png" alt="Flynn Paff Manzana" height="25px">
                                <h6>Caramelo masticable</h6>
                                <p>"FLYNN PAFF"</p>
                                <p>Sabor Manzana</p>
                            </td>
                            <td class="table-middle">
                                <p>$ 150,00</p>
                            </td>
                            <td class="table-middle">
                                <input type="text" id="cantidad" name="cantidad" maxlength="3">
                            </td>
                            <td class="table-end">
                                <i class="bi bi-trash"></i>
                            </td>
                        </tr>

                        <tr>
                            <td class="table-first">
                                <img src="/img/productos/flynnpaff-tutti.png" alt="Flynn Paff Tutti Frutti" height="25px">
                                <h6>Caramelo masticable</h6>
                                <p>"FLYNN PAFF"</p>
                                <p>Sabor Tutti-Frutti</p>
                            </td>
                            <td class="table-middle">
                                <p>$ 150,00</p>
                            </td>
                            <td class="table-middle">
                                <input type="text" id="cantidad" name="cantidad" maxlength="3">
                            </td>
                            <td class="table-end">
                                <i class="bi bi-trash"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a href="#pagar">Ir a pagar</a>
            </div>
        </section>


        <!-- Recomendados -->
        <section id="acompaniar">
            <div class="contenedor">
                <h2>Acompaña tu compra con:</h2>

                <article>
                    <div>
                        <img src="/img/productos/flynnpaff-banana.png" alt="Flynn Paff Banana" height="50px">
                        <h6>Precio</h6>
                        <p>$ 150,00 c/u</p>
                    </div>
                    <div>
                        <h6>Caramelo masticable</h6>
                        <p>"FLYNN PAFF"</p>
                        <p>Sabor Banana</p>
                        <div>
                            <input type="text">
                            <button><i class="bi bi-cart-plus-fill"></i></button>
                        </div>
                    </div>
                </article>

                <article>
                    <div>
                        <img src="/img/productos/flynnpaff-uva.png" alt="Flynn Paff Uva" height="50px">
                        <h6>Precio</h6>
                        <p>$ 150,00 c/u</p>
                    </div>
                    <div>
                        <h6>Caramelo masticable</h6>
                        <p>"FLYNN PAFF"</p>
                        <p>Sabor Banana</p>
                        <div>
                            <input type="text">
                            <button><i class="bi bi-cart-plus-fill"></i></button>
                        </div>
                    </div>
                </article>

                <article>
                    <div>
                        <img src="/img/productos/flynnpaff-frutilla.png" alt="Flynn Paff Frutilla" height="50px">
                        <h6>Precio</h6>
                        <p>$ 150,00 c/u</p>
                    </div>
                    <div>
                        <h6>Caramelo masticable</h6>
                        <p>"FLYNN PAFF"</p>
                        <p>Sabor Banana</p>
                        <div>
                            <input type="text">
                            <button><i class="bi bi-cart-plus-fill"></i></button>
                        </div>
                    </div>
                </article>
            </div>
        </section>


        <!-- Pagar -->
        <section id="pagar">
            <div class="contenedor">
                <div>
                    <button>Añadir cupón de descuento</button>
                </div>
    
                <div class="d-flex jc-between">
                    <p>Subtotal</p>
                    <p>$ 300,00</p>
                </div>
    
                <div class="d-flex jc-between">
                    <p>Descuentos</p>
                    <p>$ 169,30</p>
                </div>
    
                <div class="d-flex jc-between text-violeta">
                    <h3>Total</h3>
                    <h3>$ 130,70</h3>
                </div>
    
                <button>Finalizar compra</button>
    
                <div>
                    <input type="checkbox">
                    <p>Acepto términos y condiciones y autorizo el tratamiento de mis datos personales conforme a la política de privacidad y tratamiento de datos personales.</p>
                </div>
    
                <div>
                    <div>
                        <i class="bi bi-lock"></i>
                        <p>Pago seguro</p>
                    </div>
    
                    <div>
                        <i class="bi bi-truck"></i>
                        <p>Cambios y devoluciones</p>
                    </div>
    
                    <div>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>Clientes satisfechos</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div>
            <div class="redes">
                <p>Seguinos en<br>nuestras redes</p>
                <ul>
                    <li><a href=""><i class="bi bi-telegram"></i></a></li>
                    <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                    <li><a href=""><i class="bi bi-tiktok"></i></a></li>
                    <li><a href=""><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>

            <div class="copyright">
                <img src="/img/candyshop.png" alt="Logo de CandyShop" width="200px">
                <p>© 2023 CandyShop<br>All rights reserved</p>
            </div>
        </div>
    </footer>

</body>
</html>