<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/room.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body onresize="resizeMenu()">
    <!-- Rita Ledesma -->
    <header>
        <nav class="sombra-sm">
            <!-- Logo -->
            <div>
                <img src="/img/candyshop-sm.png" alt="Logo de CandyShop" width="66px">
            </div>
        <!-- Opciones -->
            <div>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="/login">Iniciar Sesión</a></li>
                </ul>
                <a href="/carrito"><i class="bi bi-cart"></i></a>
                <button><i class="bi bi-list"></i></button>
            </div>

        </nav>
    </header>
        <!-- Slider -->
        <section class="container">
            <div class="slide-wrapper">
                <div class="slider-frame">
                    <img id="slider1" src="#" alt="">
                    <img id="slider2" src="#" alt="">
                    <img id="slider3" src="#" alt="">
                    <img id="slider4" src="#" alt="">

                    <div class="slider-nav">
                        <a href="#slider1"></a>
                        <a href="#slider2"></a>
                        <a href="#slider3"></a>
                        <a href="#slider4"></a>
                    </div>
                </div>
            </div>

        </section>
    <main>

        <!---barra de Navegacion Dulces --> 
        <section class="bars"> 
            <div class="menu">
                <div class="btn-group">
                    <button type="button" class="arrow" data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones<i class="bi bi-chevron-down"></i></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#chupetines">Chupetines</a><br></li>
                        <li><a class="dropdown-item" href="#caramelos">Caramelos</a><br></li>
                        <li><a class="dropdown-item" href="#gomitas">Gomitas</a><br></li>
                        <li><a class="dropdown-item" href="#alfajores">Alfajores</a><br></li>
                        <li><a class="dropdown-item" href="#chocolate">Chocolate</a><br></li>
                        <li><a class="dropdown-item" href="#sin-azucar">Sin Azúcar</a><br></li>
                        <li><a class="dropdown-item" href="#otros">Otros</a><br></li>
                </ul>
                </div>
            </div>
            <div class="productos">
                <div id="chupetines" class="productos-categoria">
                    <!-- Productos de Chupetines -->
                    <article class="chupetin1">
                        <img src="/img/productos/chupetin1.webp" alt="">
                        <div class="detail">
                            <div class="product"> Chupetin </div>
                            <div class="brand"> "ARCOR"</div>
                            <div class="desc"> Mr Pops Frutal</div> 
                        </div> 
                        <div class="price">
                            <p>Precio</p>$92,85
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>

                    </article>
                </div>
                <div id="caramelos" class="productos-categoria">
                    <!-- Productos de Caramelos -->
                    <article class="caramelo1">
                        <img src="/img/productos/flynnpaff-banana.png" alt="">
                        <div class="detail">
                            <div class="product">Caramelo masticable </div>
                            <div class="brand"> "FLYNN PAFF"</div>
                            <div class="desc"> Sabor Banana</div>  
                        </div>                  
                        <div class="price">
                            <p>Precio</p>$150
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>
        
                    <article class="caramelo2">
                        <img src="/img/productos/flynnpaff-frutilla.png" alt="">
                        <div class="detail">
                            <div class="product">Caramelo masticable </div>
                            <div class="brand"> "FLYNN PAFF"</div>
                            <div class="desc"> Sabor Frutilla</div>    
                        </div> 
                        <div class="price">
                            <p>Precio</p>$150
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>
        
                    <article class="caramelo3">
                        <img src="/img/productos/flynnpaff-manzana.png" alt="">
                        <div class="detail">
                            <div class="product">Caramelo masticable </div>
                            <div class="brand"> "FLYNN PAFF"</div>
                            <div class="desc"> Sabor Manzana</div>
                        </div>
                        <div class="price">
                            <p>Precio</p>$150
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>
        
                    <article class="caramelo4">
                        <img src="/img/productos/flynnpaff-tutti.png" alt="">
                        <div class="detail">
                            <div class="product">Caramelo masticable </div>
                            <div class="brand"> "FLYNN PAFF"</div>
                            <div class="desc"> Sabor Tutti-Frutti</div>
                        </div>  
                        <div class="price">
                            <p>Precio</p>$150
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>
                </div>
                <div id="gomitas" class="productos-categoria">
                    <!-- Productos de Gomitas -->
                    <article class="gomita1">
                        <img src="/img/productos/gomitas ositos.jpg" alt="">
                        <div class="detail">
                            <div class="product"> Gomitas </div>
                            <div class="brand"> "MOGUL"</div>
                            <div class="desc"> Gomitas Ositos x 10 gr</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$127,30
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>

                    <article class="gomita2">
                        <img src="/img/productos/gomitas.jpg" alt="">
                        <div class="detail">
                            <div class="product"> Gomitas </div>
                            <div class="brand"> "MOGUL"</div>
                            <div class="desc"> Gomitas Murcielago x 10 gr</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$127,30
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>
                </div>

                <div id="alfajores" class="productos-categoria">
                    <!-- Productos de Alfajores -->
                    <article class="alfajor1">
                        <img src="/img/productos/alfajor1.jpg" alt="">
                        <div class="detail">
                            <div class="product">Alfajor </div>
                            <div class="brand"> "BON O BON"</div>
                            <div class="desc"> Alfajor Original 40 gr</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$350
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>

                    <article class="alfajor2">
                        <img src="/img/productos/alfajor2.jpg" alt="">
                        <div class="detail">
                            <div class="product">Alfajor </div>
                            <div class="brand"> "TOFI"</div>
                            <div class="desc"> Alfajor Negro 46 gr</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$260
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>


                </div>

                <div id="chocolate" class="productos-categoria">
                    <!-- Productos de Chocolates -->
                    <article class="chocolate1">
                        <img src="/img/productos/bonobon-blanco.png" alt="">
                        <div class="detail">
                            <div class="product">Bombon Relleno </div>
                            <div class="brand"> "BON O BON"</div>
                            <div class="desc"> Bombon Original 15 gr</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$90
                        </div>
                            <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>

                    <article class="chocolate2">
                        <img src="/img/productos/block.jpg" alt="">
                        <div class="detail">
                            <div class="product"> Chocolate </div>
                            <div class="brand"> "COFLER BLOCK"</div>
                            <div class="desc"> Chocolate con mani 170 gr</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$1098,91
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>


                </div>

                <div id="sin-azucar" class="productos-categoria">
                    <article class="sin-azucar1">
                        <img src="/img/productos/sin azucar 1.png" alt="">
                        <div class="detail">
                            <div class="product"> Chocolate Sin Azucar </div>
                            <div class="brand"> "GEORGALOS"</div>
                            <div class="desc"> Chocolate con leche 30 gr</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$390
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>

                    <article class="sin-azucar2">
                        <img src="/img/productos/sin azucar 2 brownie.png" alt="">
                        <div class="detail">
                            <div class="product"> Chococereal sin azucar </div>
                            <div class="brand"> "GEORGALOS"</div>
                            <div class="desc"> Brownie chocolate amargo</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$290
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>
                </div>

                <div id="otros" class="productos-categoria">
                    <!-- Productos varios -->
                    <article class="sin-azucar2">
                        <img src="/img/productos/cubanitos.webp" alt="">
                        <div class="detail">
                            <div class="product"> Cubanitos </div>
                            <div class="brand"> "GEORGALOS"</div>
                            <div class="desc"> Caja cubanitos x 40u</div>  
                        </div>
                        <div class="price">
                            <p>Precio</p>$694,89
                        </div>
                        <button class="add">Agregar al Carrito</button>
                        <div class="carrito">
                            <input type="text" id="name" name="name" required minlength="4" maxlength="8"/>
                            <button class="compra"><i class="bi bi-cart-plus"></i></button>
                        </div>
                    </article>
                </div>


        </div>

        </section>
 

        <ul class="page-numbers">
            <li><a href="#">Ant</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Sig</a></li>
        </ul>

    </main>
    <footer>
        <div>
            <div class="redes">
                <p>Seguinos en<br>nuestras redes</p>
                <ul>
                    <li><a href=""><i class="bi bi-telegram"></i></a></li>
                    <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                    <li><a href=""><i class="bi bi-tiktok"></i></a></li>
                    <li><a href=""><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>

            <div class="copyright">
                <img src="/img/candyshop.png" alt="Logo de CandyShop" width="200px">
                <p>© 2023 CandyShop<br>All rights reserved</p>
            </div>
        </div>
    </footer>


</body>
</html>




