:root {
    --bg-principal: #FCFCFC;
    --bg-disabled: #DEDEDE;
    --bg-amarillo: #FFE66B;
    --bg-rosa-claro: #FFB4E0;
    --bg-rosa-oscuro: #FF6AC2;
    --bg-violeta-claro: #EAD8FA;
    --bg-violeta-oscuro: #BC7AF9;
    --text-principal: #272727;
    --text-secundario: rgba(39, 39, 39, 0.5);
    --text-disabled: #6F6F6F;
    --text-blanco: #FCFCFC;
    --text-rosa-claro: #E474BA;
    --text-rosa-oscuro: #8E2764;
    --text-violeta: #AA63EC;
    --telegram: #0088cc;
    --whatsapp: #25D366;
    --facebook: #3b5998;
    --tiktok-up: #00F7EF;
    --tiktok-down: #FD014F;
    --instagram: #DD2A7B;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-principal);
    overflow-x: hidden;
}

/*navbar*/
#navbar{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 2rem;
    z-index: 10000;
    background-color: var(--bg-principal);
}

#menu-opciones{
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100vw;
    border-bottom: 1px solid var(--bg-rosa-claro);
    box-shadow: 0px 100vh 0px 100vh rgba(0, 0, 0, 0.5);
    z-index: 100;
}

nav ul li{
    width: 100vw;
    height: 60px;
    background-color: var(--bg-principal);
    border-top: 1px solid var(--bg-rosa-claro);
    transition: all 0.2s ease-in;
}


nav ul li:hover{
    background-color: var(--bg-rosa-claro);
}

nav li a{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button{
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
}

nav .bi{
    font-size: 25px;
}

main{
    padding-top: 50px;
}

li {
    list-style: none;
}

h6 {
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Main*/

main {
    position: relative;
    z-index: 0; 
    overflow: hidden;
}
h1{
    color: var(--text-violeta);
    font-size: 40px;
    padding:3rem;
    text-align: center;
}
.label-titulos{
    display: block;
    margin-bottom: 10px;
    color:var(--text-disabled);
    font-weight: bold;
    font-size: 24px;
}
.label-subtitulos{
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
    color:var(--text-disabled);
    font-weight: light;
    font-size: 17px;
    text-align: center;
}
.contenedor-rosa{
    height: 100px;
    background-color: #FFB4E0;
}

.contenedor-nombre,.contenedor-stock,.contenedor-cb,.contenedor-precio,.contenedor-descripcion,.contenedor-categoria,.contenedor-tipo{
    width: 100%;
    padding: 1rem;
}

.contenedor-input-nombre,.contenedor-input-cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0.5rem;
}
.contenedor-input-stock,.contenedor-input-cb,.contenedor-input-precio,.contenedor-input-descrip,.contenedor-input-tipo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:0.5rem;
}

.input-custom,.input-descrip,.input-cat,.input-tipo  {
    width:100%;
    height: 90px;
    border: 3px solid var(--text-secundario);
    border-radius: 10px; 
    padding: 10px; 
    font-size: 16px;
    margin-right: 10px;
}

.input-stock,.input-cb,.input-precio{
    width:100%;
    height: 55px;
    border: 3px solid var(--text-secundario);
    border-radius: 10px; 
    padding: 10px; 
    font-size: 18px;
    margin-right: 10px;
}

.contenedor-nombre img{
    width:125px;
}

.contenedor-precio img{
    width: 218px;
    padding-top: 1rem;
}

.contenedor-categoria img{
    width:120px;
}
.crear-producto{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.crear-producto img{
    width:280px;
}

#add {
    margin: 4%;
    background-color: var(--bg-rosa-oscuro);
    width: 50vw;
    height: 7vh;
    border-radius: 2vw;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.75rem;
    font-weight: bold;
}
#add i{
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 576px){
    /* Tablet */
    h1{
        display: flex;
        justify-content: flex-start;
        font-size: 55px;
    }

    .contenedor-stock-cb,.contenedor-precioOyP{
        display: flex;
        justify-content: space-between;
    }

    .contenedor-input-stock,.contenedor-input-cb,.contenedor-input-precio{
        width:48%;
    }

    .contenedor-input-tipo{
        width:85%;
    }
    
    .contenedor-nombre img{
        width:160px;
    }
    
    .contenedor-precio img{
        padding-top: 15px;
        width: 220px;
    }

    .contenedor-categoria img{
        width:160px;
    }
    .crear-producto{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .crear-producto img{
        width:350px;
    }
    main{
        margin-right: 5%;
        margin-left: 5%;
    }
    #add {
        width: 40vw;
        height: 9vh;
       }
}

@media screen and (min-width: 992px){
    /* Desktop */
    #add {
        width: 20vw;
        height: 6vh;
        border-radius: 0.6vw;
    }
    
}                                                                     
                         

.sombra-sm {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
