*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    padding-top: 50px;
}

#banner-rosa{
    height: 40px;
    background-color:var(--bg-rosa-claro);
}

button{
    border: none;
    background: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0%;
    height: 150px;
    justify-content: space-between;
}

h1{
    color: var( --text-violeta);
    font-size: 2rem;
    font-weight: 800;
    text-align:end;
}

.nav-products{
    display: none;
}

.add-product{
    display: flex;
    align-items: center;
    width: calc(100vw - 70px);
    height: 50px;
    justify-content: space-between;
}

#add {
    background-color: var(--bg-rosa-oscuro);
    width: 50px;
    height: 50px;
    border-radius: 2vw;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

#add:hover{
    background-color: var(--bg-rosa-oscuro-hover);
}

.input-search{
    height: 50px;
    width: calc(100vw - 70px);
    max-width: 700px;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
    padding: 10px;
}
    
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    width: calc(100vw - 70px);
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
}

.top .imagen{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.top .imagen img{
    max-width: 75px;
    max-height: 40px;
}

.top .imagen p{
    font-size: 12px;
    text-align: center;
    color: var(--text-gris);
}

.top .texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.top .texto .code, .top .texto .price, .top .texto .stock{
    display: none;
}

.top .categoria{
    display: none;
}

.top, .bottom{
    display: flex;
    justify-content: space-between;
}

.bottom p{
    font-size: 12px;
    font-weight: 500;
}

.bottom .code, .bottom .price, .bottom .stock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
}

.right .details, .right .edit {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-left: 4px solid var(--bg-rosa-claro);
    font-size: 24px;
    text-shadow: 0.5px 0px var(--bg-violeta-oscuro);
    color: var(--bg-violeta-oscuro);
    transition: all 0.2s ease-in-out;
}

.right .details{
    border-bottom: 2px solid var(--bg-rosa-claro);
    border-radius: 0px 6px 0px 0px;
}

.right .edit{
    border-top: 2px solid var(--bg-rosa-claro);
    border-radius: 0px 0px 6px 0px;
}

.right .details:hover, .right .edit:hover{
    text-shadow: 0.5px 0px var(--text-secundario);
    color: var(--text-secundario);
    background: var(--bg-rosa-claro);
}

.right .delete{
    display: none;
}

.button-rosa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 70px);
    height: 50px;
    background-color: var(--bg-rosa-oscuro);
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-rosa:hover{
    background-color: var(--bg-rosa-oscuro-hover);
}

.button-violeta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 70px);
    height: 50px;
    background-color: var(--bg-violeta-oscuro);
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-violeta:hover{
    background-color: var(--bg-violeta-oscuro-hover);
}

.button-gris{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 70px);
    height: 50px;
    background-color: var(--bg-gris);
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-gris:hover{
    background-color: var(--bg-gris-hover);
}


.cancelar, .guardar{
    padding: 10px 0px;
}


/* Paginación */

.paginacion{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-numbers {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    min-width: 250px;
    padding: 10px 0;
    border: solid 3px #FFB4E0 ;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-rosa-claro);
    align-items: center;
    margin-top: 2rem; 
    margin-bottom: 3rem;
}

.page-numbers a{
    transition: all 0.2s ease-in;
}

.page-numbers a:hover {
    font-weight: 700;
    color: var(--bg-rosa-oscuro-hover);
}

.noactive{
    font-weight: 500;
    color: var(--text-gris);
}

.paginacion i.noactive{
    text-shadow: -1px -1px var(--text-gris), 0px -1px var(--text-gris), -1px 0px var(--text-gris);
    transition: all 0.2s ease-in;
}

.paginacion i.active{
    text-shadow: -1px -1px var(--text-rosa-claro), 0px -1px var(--text-rosa-claro), -1px 0px var(--text-rosa-claro);
    transition: all 0.2s ease-in;
}

.paginacion i.active:hover{
    text-shadow: -1px -1px var(--text-rosa-claro), 0px -1px var(--text-rosa-claro), -1px 0px var(--text-rosa-claro), 0px 0px 5px var(--bg-rosa-oscuro-hover);
}


/* Inputs (editar y crear Producto) */

.products h2{
    font-size: 20px;
    color: var(--text-gris);
}

.products .group-general, .products .group-stock, .products .group-precio, .products .group-imagen, .products .group-categoria, .products .group-info-nutricional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100vw - 70px);
    margin-bottom: 50px;
}

.input-nombre, .input-sabor, .input-descripcion, .input-stock, .input-precio, .input-imagen, .input-categoria {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.label-titulos{
    font-size: 12px;
    color: var(--text-gris);
    padding: 0px 0px 5px 10px;

}

.i-nombre, .i-sabor, .i-descripcion, .i-stock, .i-precio, .i-categoria {
    padding: 0px 10px;
    min-height: 40px;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
}


/* ÚNICAMENTE EN crearProducto */

.containerAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0%;
    height: 60px;
    justify-content: space-between;
}

/* detalleProductos */

.detalle-prod{
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalle-prod h4{
    color: var(--bg-violeta-oscuro-hover);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.detalle-form-prod{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 25px;
    padding: 25px;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
}

.detalle-form-prod img{
    height: 150px;
    padding-bottom: 15px;
}

.detalle-form-prod form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.nombre-completo-prod, .detalle-form-prod form .precio, .golosina{
    font-weight: 600;
    text-align: center;
}

.detalle-form-prod .subtitulo, .golosina .subtitulo{
    color: var(--bg-rosa-oscuro-hover);
    font-size: 14px;
}

.input-button-add{
    display: flex;
}

.input-button-add input{
    height: 40px;
    width: 100px;
    border: 2px solid var(--bg-rosa-oscuro);
    border-radius: 7px 0px 0px 7px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.add-to-cart{
    height: 40px;
    width: 40px;
    background-color: var(--bg-rosa-oscuro);
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 0px 7px 7px 0px;
    transition:  all .3s ease-in-out;
}

.add-to-cart:hover {
    background-color: var(--bg-rosa-oscuro-hover);
}

.descripcion-prod, .infoNutricional-prod{
    padding: 0px 30px 30px 30px;
}

.infoNutricional-prod{
    width: 100%;
}

.infoNutricional-prod table{
    margin-bottom: 30px;
    width: 100%;
}



/* Listar Productos */

.dropdown{
    margin: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.dropbtn {
    width: 250px;
    background-color: var(--bg-rosa-oscuro);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.select-cat {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #FFB4E0;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--bg-rosa-oscuro-hover);
}


.bars .centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bars .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bars .golosina{
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
    height: 200px;
    width: 90%;
    margin: 20px;
    padding: 20px;
}

.bars .golosina a{
    display: flex;
    justify-content: space-around;
}

.bars .golosina .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.bars .golosina img{
    height: 100px;
}


.bars .catalog-form form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}


.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


/* Para usuarios */





/* MQ's */

@media (min-width: 576px){

    form .input{ 
        border-radius: 1vw;
        padding: 7px 20px;
        height: 12vh;
        font-size: 1rem;
        width: 80vw;
        gap: 30%;
        justify-content: space-between;

    }



    /* Listar Productos */

    .bars .centrar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bars .productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .bars .golosina{
        border: 4px solid var(--bg-rosa-claro);
        border-radius: 10px;
        height: 350px;
        width: 250px;
        margin: 20px;
        padding: 20px;
    }
    
    .bars .golosina a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bars .golosina .detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        width: 150px;
    }
    
    .bars .golosina img{
        max-height: 100px;
        max-width: 100px;
    }
    
    .bars .catalog-form form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .bars .input-button-add{
        padding-top: 20px;
    }
}

@media (min-width: 992px){
    
    .cuerpo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .add-product, .nav-products, .product{
        max-width: 1150px;
    }
    
    .nav-products{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info{
        display: flex;
        width: 70vw;
    }

    .left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
        width: 100%;
    }

    .top{
        width: 100%;
    }

    .top .imagen{
        width: 75px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top .texto {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-weight: 500;
        font-size: 14px;
    }

    .top .categoria, .top .texto .code, .top .texto .price, .top .texto .stock{
        display: block;
    }

    .top .texto .code, .top .texto .price, .top .texto .stock{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        text-align: center;
    }

    .top .texto .categoria, .top .texto .nombre, .top .texto .sabor{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 100%;
        text-align: center;
    }

    .bottom{
        display: none;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 4px solid var(--bg-rosa-claro);
    }

    .right .details{
        color: var(--text-gris)
    }

    .right .edit{
        color: var(--text-amarillo)
    }

    .right .delete {
        color: var(--text-rojo)
    }

    .right .details, .right .edit, .right .delete {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        border-radius: 0px;
        font-size: 24px;
        text-shadow: 0.5px 0px var(--bg-violeta-oscuro);
        transition: all 0.2s ease-in-out;
    }
    
    .right .details:hover, .right .edit:hover, .right .delete:hover{
        text-shadow: 0.5px -0.5px var(--bg-rosa-oscuro);
        color: var(--bg-rosa-oscuro);
        background: transparent;
    }

}
