*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    padding-top: 50px;
}

#banner-rosa{
    height: 40px;
    background-color:var(--bg-rosa-claro);
}

button{
    border: none;
    background: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0%;
    height: 150px;
    justify-content: space-between;
}

h1{
    color: var( --text-violeta);
    font-size: 2rem;
    font-weight: 800;
    text-align:end;
}

.nav-products{
    display: none;
}

.add-product{
    display: flex;
    align-items: center;
    width: calc(100vw - 70px);
    height: 50px;
    justify-content: space-between;
}

#add {
    background-color: var(--bg-rosa-oscuro);
    width: 50px;
    height: 50px;
    border-radius: 2vw;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

#add:hover{
    background-color: var(--bg-rosa-oscuro-hover);
}

.input-search{
    height: 50px;
    width: calc(100vw - 70px);
    max-width: 700px;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
    padding: 10px;
}
    
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    width: calc(100vw - 70px);
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
}

.top .imagen{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.top .imagen img{
    max-width: 75px;
    max-height: 40px;
}

.top .imagen p{
    font-size: 12px;
    text-align: center;
    color: var(--text-gris);
}

.top .texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.top .texto .code, .top .texto .price, .top .texto .stock{
    display: none;
}

.top .categoria{
    display: none;
}

.top, .bottom{
    display: flex;
    justify-content: space-between;
}

.bottom p{
    font-size: 12px;
    font-weight: 500;
}

.bottom .code, .bottom .price, .bottom .stock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
}

.right .details, .right .edit {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-left: 4px solid var(--bg-rosa-claro);
    font-size: 24px;
    text-shadow: 0.5px 0px var(--bg-violeta-oscuro);
    color: var(--bg-violeta-oscuro);
    transition: all 0.2s ease-in-out;
}

.right .details{
    border-bottom: 2px solid var(--bg-rosa-claro);
    border-radius: 0px 6px 0px 0px;
}

.right .edit{
    border-top: 2px solid var(--bg-rosa-claro);
    border-radius: 0px 0px 6px 0px;
}

.right .details:hover, .right .edit:hover{
    text-shadow: 0.5px 0px var(--text-secundario);
    color: var(--text-secundario);
    background: var(--bg-rosa-claro);
}

.right .delete{
    display: none;
}

.pagination{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 40px 100px 50px 100px;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
    color: var(--text-secundario);
    font-weight: 600;
}

.pagination a{
    width: 20px;
}

.pagination a:hover{
    color: var(--bg-rosa-oscuro);
}

.button-rosa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 70px);
    height: 50px;
    background-color: var(--bg-rosa-oscuro);
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-rosa:hover{
    background-color: var(--bg-rosa-oscuro-hover);
}

.button-violeta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 70px);
    height: 50px;
    background-color: var(--bg-violeta-oscuro);
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-violeta:hover{
    background-color: var(--bg-violeta-oscuro-hover);
}

.button-gris{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 70px);
    height: 50px;
    background-color: var(--bg-gris);
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-gris:hover{
    background-color: var(--bg-gris-hover);
}


.cancelar, .guardar{
    padding: 10px 0px;
}


/* Inputs (editar y crear Producto) */

.products h2{
    font-size: 20px;
    color: var(--text-gris);
}

.products .group-general, .products .group-stock, .products .group-precio, .products .group-imagen, .products .group-categoria, .products .group-info-nutricional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100vw - 70px);
    margin-bottom: 50px;
}

.input-nombre, .input-sabor, .input-descripcion, .input-stock, .input-precio, .input-imagen, .input-categoria {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.label-titulos{
    font-size: 12px;
    color: var(--text-gris);
    padding: 0px 0px 5px 10px;

}

.i-nombre, .i-sabor, .i-descripcion, .i-stock, .i-precio, .i-categoria {
    padding: 0px 10px;
    min-height: 40px;
    border: 4px solid var(--bg-rosa-claro);
    border-radius: 10px;
}


/* ÚNICAMENTE EN crearProducto */

.containerAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0%;
    height: 60px;
    justify-content: space-between;
}



/* MQ's */

@media (min-width: 576px){

    form .input{ 
        border-radius: 1vw;
        padding: 7px 20px;
        height: 12vh;
        font-size: 1rem;
        width: 80vw;
        gap: 30%;
        justify-content: space-between;

    }

}

@media (min-width: 992px){
    
    .cuerpo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .add-product, .nav-products, .product{
        max-width: 1150px;
    }
    
    .nav-products{
        width: 100%;
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info{
        display: flex;
        width: 70vw;
    }

    .left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
        width: 100%;
        background-color: burlywood;
    }

    .top .texto {
        width: auto;
        background-color: aqua;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-weight: 600;
    }

    .top .categoria, .top .texto .code, .top .texto .price, .top .texto .stock{
        display: block;
    }

    .bottom{
        display: none;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 4px solid var(--bg-rosa-claro);
    }

    .right .details{
        color: var(--text-gris)
    }

    .right .edit{
        color: var(--text-amarillo)
    }

    .right .delete {
        color: var(--text-rojo)
    }

    .right .details, .right .edit, .right .delete {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        border-radius: 0px;
        font-size: 24px;
        text-shadow: 0.5px 0px var(--bg-violeta-oscuro);
        transition: all 0.2s ease-in-out;
    }
    
    .right .details:hover, .right .edit:hover, .right .delete:hover{
        text-shadow: 0.5px -0.5px var(--bg-rosa-oscuro);
        color: var(--bg-rosa-oscuro);
        background: transparent;
    }

}
