/* Provisorio */

:root{
    --bg-principal: #FCFCFC;
    --bg-disabled: #DEDEDE;
    --bg-amarillo: #FFE66B;
    --bg-rosa-claro: #FFB4E0;
    --bg-rosa-oscuro: #FF6AC2;
    --bg-violeta-claro: #EAD8FA;
    --bg-violeta-oscuro: #BC7AF9;
    --text-principal: #272727;
    --text-secundario: rgba(39, 39, 39, 0.5);
    --text-disabled: #6F6F6F;
    --text-blanco: #FCFCFC;
    --text-rosa-claro: #E474BA;
    --text-rosa-oscuro: #8E2764;
    --text-violeta: #AA63EC;

    --telegram: #0088cc;
    --whatsapp: #25D366;
    --facebook: #3b5998;
    --tiktok-up: #00F7EF;
    --tiktok-down: #FD014F;
    --instagram: #DD2A7B;
}

main{
    padding-top: 50px;
}

.topPerfil{
    background: linear-gradient(180deg, var(--bg-rosa-claro) 65%, rgba(255,255,255,0) 65%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topPerfil h1{
    color: var(--text-rosa-oscuro);
    padding: 20px 0rem;
}

.imgPerfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPerfil img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Pa borrar después */
    border: solid 1px black;
}

.formInputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px 0px;
}

.groupInput{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.groupInput label{
    padding-left: 5px;
    font-size: 13px;
    color: var(--text-disabled);
}

.groupInput input{
    border: solid 3px var(--bg-violeta-oscuro);
    border-radius: 10px;
    height: 40px;
    padding: 0px 10px;
}

.groupInput input:focus{
    border: solid 3px var(--bg-rosa-oscuro);
}