/*RO SANCHEZ*/

:root {
    --bg-principal: #FCFCFC;
    --bg-disabled: #DEDEDE;
    --bg-amarillo: #FFE66B;
    --bg-rosa-claro: #FFB4E0;
    --bg-rosa-oscuro: #FF6AC2;
    --bg-violeta-claro: #EAD8FA;
    --bg-violeta-oscuro: #BC7AF9;
    --text-principal: #272727;
    --text-secundario: rgba(39, 39, 39, 0.5);
    --text-disabled: #6F6F6F;
    --text-blanco: #FCFCFC;
    --text-rosa-claro: #E474BA;
    --text-rosa-oscuro: #8E2764;
    --text-violeta: #AA63EC;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-principal);
}

/*navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
    margin-bottom: 0;
}

nav ul {
    display: none;
}

nav button {
    border: none;
    background: none;
    margin-left: 10px;
}

nav .bi {
    font-size: 25px;
}

li {
    list-style: none;
}

h6 {
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/*MAIN*/
.contenedor-icono-caramelo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-caramelo {
    width: 187px;
    height: auto;
}
h3 {
    color: #272727;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.contenedor-email-contraseña {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-email,.input-nombre,.input-apellido,.input-contraseña {
    padding-bottom: 1rem;
}

.input-email input,
.input-contraseña input,.input-nombre input,.input-apellido input,.input-confirmar-contra input  {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 16.5rem;
    outline: none;
}

.input-email input:focus,
.input-contraseña input:focus,.input-nombre input:focus,.input-apellido input:focus,.input-confirmar-contra input:focus {
    border: 2.5px solid #8E2764;
}

.input-email input {
    background-image: url("/images/usuario.png");
    background-position: right center;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.input-contraseña input {
    background-image: url("/images/contrasena.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.input-nombre input {
    background-image: url("/images/id-card.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.input-apellido input {
background-image: url("/images/id-card.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}
.input-confirmar-contra input {
    background-image: url("/images/contrasena.png");
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}
label {
    font-size: 15px;
    color: #AD6800;
    display: block;
    margin-bottom: 0;
}
.terminos-condiciones {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.terminos-condiciones input[type="checkbox"] {
    margin-right: 10px;
}
.olvido-contraseña {
    color: #272727;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.contenedor-boton-is {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-is {
    background-color: #FF6AC2;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 3rem;
}

.contenedor-redes {
    text-align: center;
    padding-top: 2rem;
}

.facebook,
.google {
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 15px 15px;
}

.contenedor-registro {
    width: 18rem;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    margin: 3.5rem auto 0;
    max-width: 90%;
    font-size: 15px;
    line-height: 2;
    height: 75px;
}
.contenedor-golosinas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.golosinas-login {
    width: 130px;
    height: auto;
    padding-top: 4.5rem;
}
/* Media query para dispositivos móviles*/
@media screen and (min-width: 361px) {
    main {
        background: #FFB4E0;
        width: 100%;
        height: auto;
    }
}

/* Media query para desktop*/
@media screen and (min-width:769px) {
    main {
        height: auto;
        background: linear-gradient(to right, #FFB4E0 50%, #F880B2 50%);
        /* Fondo amarillo y lila */
    }
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    border-top: 1px solid var(--text-secundario);
}

footer div {
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: space-around;
    min-width: 320px;
    width: 80vw;
    margin: 1.5rem 0px;
    font-size: 30px;
}

footer .redes p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

footer img {
    margin: 0.75rem 0px;
}


.sombra-sm {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}