:root{
    --bg-principal: #FCFCFC;
    --bg-disabled: #DEDEDE;
    --bg-amarillo: #FFE66B;
    --bg-rosa-claro: #FFB4E0;
    --bg-rosa-oscuro: #FF6AC2;
    --bg-violeta-claro: #EAD8FA;
    --bg-violeta-oscuro: #BC7AF9;
    --text-principal: #272727;
    --text-secundario: rgba(39, 39, 39, 0.5);
    --text-disabled: #6F6F6F;
    --text-blanco: #FCFCFC;
    --text-rosa-claro: #E474BA;
    --text-rosa-oscuro: #8E2764;
    --text-violeta: #AA63EC;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-principal);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
    margin-bottom: 2rem;
}

nav ul{
    display: none;
}

nav button{
    border: none;
    background: none;
    margin-left: 10px;
}

nav .bi{
    font-size: 25px;
}

li{
    list-style: none;
}

h6{
    font-size: 0.75rem;
}

a{
    text-decoration: none;
    color: inherit;
}


#anuncio, #carrito, #acompaniar{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


#anuncio .contenedor{
    display: flex;
    align-items: center;
    height: 80px;
    min-width: 320px;
    width: 90vw;
    padding: 0px 2rem;
    border-radius: 25px;
}

#anuncio h6{
    text-align: center;
    min-width: 45%;
}


#carrito .contenedor, #acompaniar .contenedor{
    min-width: 320px;
    width: 90vw;
}

#carrito h1{
    color: var(--text-violeta);
    font-size: 2.25rem;
    padding: 0px 5vw;
}

#carrito h6{
    font-weight: 500;
}

#carrito p{
    color: var(--text-principal);
    font-size: 0.9rem;
    font-weight: 600;
}

#carrito .producto{
    width: 100%;
    text-align: center;
    margin: 1.5rem 0px;
    border: 3px solid var(--text-secundario);
    border-radius: 10px;
    padding: 15px 20px;
    line-height: 1.05rem;
}

#carrito ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    width: 80vw;
}

#carrito i.bi{
    font-size: 30px;
}

input#cantidad{
    width: 55px;
    height: 35px;
    border: 3px solid var(--bg-violeta-oscuro);
    border-radius: 20px;
    text-align: center;
    color: var(--text-violeta);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#carrito .btn-rosa{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: transparent;
    border: 3px solid var(--bg-rosa-claro);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-rosa-claro);
    transition: all 0.25s ease-in-out;
}

#carrito .btn-rosa:hover{
    background-color: var(--bg-rosa-oscuro);
    border-color: var(--bg-rosa-oscuro);
    text-transform: uppercase;
    text-shadow: 0px 0px 10px var(--text-blanco);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-blanco);
}

#acompaniar{
    background-color: var(--bg-violeta-claro);
    padding: 2rem 0px;
}

#acompaniar h2{
    color: var(--text-violeta);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#acompaniar .producto{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: var(--bg-principal);
    border: 3px solid var(--bg-rosa-claro);
    border-radius: 10px;
}


#pagar{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0px;
    border-top: 5px solid var(--bg-violeta-oscuro);
    border-bottom: 5px solid var(--bg-violeta-oscuro);
}

#pagar .contenedor{
    min-width: 320px;
    width: 80vw;
}

#pagar button{
    text-transform: uppercase;
}



footer{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    border-top: 1px solid var(--text-secundario);
}

footer div{
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: space-around;
    min-width: 320px;
    width: 80vw;
    margin: 1.5rem 0px;
    font-size: 30px;
}

footer .redes p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

footer img{
    margin: 0.75rem 0px;
}





/* Para asignar como clase */

.bg-rosaclaro{
    background-color: var(--bg-rosa-claro);
}

.bg-rosaoscuro{
    background-color: var(--bg-rosa-oscuro);
}

.bg-violetaclaro{
    background-color: var(--bg-violeta-claro);
}

.d-flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-between{
    justify-content: space-between;
}

.text-blanco{
    color: var(--text-blanco);
}

.text-violeta{
    color: var(--text-violeta);
}

.fw-4{
    font-weight: 400;
}

.fw-5{
    font-weight: 500;
}

.sombra-sm{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}


/* MD - Pantallas */
@media only screen and (min-width: 700px) {
    
}

/* LG - Pantallas */
@media only screen and (min-width: 1000px) {

}
