<%- include('./partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/error.css">
    
    <!-- Titulo -->
    <title>¡Hasta luego!</title>

</head>
<body onresize="resizeMenu()">
    <%- include('./partials/nav') %>

    <main>
        <div id="banner-rosa">
        </div>

        <div class="caja-adios">
            <div class="caja-titulo">
                <h1>Lamentamos<br>dejarte ir</h1>
            </div>

            <div class="caja-texto">
                <p>Algunas despedidas no son para<br>
                    siempre, si no un ¡Hasta luego!<br><br>
                    Esperamos que ese sea el caso, y<br>
                    vuelvas a pasar por CandyShop <br>
                    ¡Te recibiremos con los brazos<br>
                    abiertos, y listos para darte la mejor<br>
                    expreriencia que podamos!</p>
            </div>

            <div class="caja-imagen">
                <img src="/img/estructura/chocolatito.png" alt="Chocolatito despidiéndose">
            </div>

            <a href="/">
                <button class="button-rosa">Volver al inicio</button>
            </a>
        </div>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>