<%- include('./partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/error.css">
    
    <!-- Titulo -->
    <title>Error</title>

</head>
<body onresize="resizeMenu()">
    <%- include('./partials/nav') %>

    <main>
        <div id="banner-rosa">
        </div>

        <div class="caja-error">
            <div class="caja-titulo">
                <h1>¡Oh, no!</h1>
            </div>

            <div class="caja-texto">
                <p>El fantasma come-caramelos se <br>
                    confundió, y parece que se comió la
                    <br> ruta a la que deseabas acceder.  :(</p>
            </div>

            <div class="caja-imagen">
                <img src="/img/estructura/comeRutas.png" alt="Fantasma come-caramelos">
            </div>

            <a href="/">
                <button class="button-rosa">Volver</button>
            </a>
        </div>

    </main>

    <%- include('./partials/footer') %>
</body>
</html>