<div id="marcas">
    <ul>
        <li><img class="marcas aguila" src="/img/marcas/aguila.png" alt="aguila"></li>
        <li><img class="marcas beldent" src="/img/marcas/beldent.png" alt="beldent"></li>
        <li><img class="marcas bonobon" src="/img/marcas/bonobon.png" alt="bonobon"></li>
        <li><img class="marcas butter-toffees" src="/img/marcas/butter-toffees.png" alt="butter-toffees"></li>
        <li><img class="marcas Cabsha" src="/img/marcas/cabsha.png" alt="Cabsha"></li>
        <li><img class="marcas cadbury" src="/img/marcas/cadbury.png" alt="cadbury"></li>
        <li><img class="marcas cofler" src="/img/marcas/cofler.png" alt="cofler"></li>
        <li><img class="marcas ferreroRocher" src="/img/marcas/ferreroRocher.png" alt="ferreroRocher"></li>
        <li><img class="marcas flyn" src="/img/marcas/flyn.png" alt="flyn"></li>
        <li><img class="marcas halls" src="/img/marcas/Halls.webp" alt="halls"></li>
        <li><img class="marcas milka" src="/img/marcas/milka.png" alt="milka"></li>
        <li><img class="marcas mogul" src="/img/marcas/mogul.png" alt="mogul"></li>
        <li><img class="marcas pico-dulce" src="/img/marcas/pico-dulce.png" alt="pico dulce"></li>
        <li><img class="marcas Tic-Tac" src="/img/marcas/Tic-Tac.png" alt="Tic-Tac"></li>
        <li><img class="marcas Toblerone" src="/img/marcas/Toblerone.webp" alt="Toblerone"></li>
    </ul>
</div>