<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    
    <!-- Titulo -->
    <title>Borrar mi cuenta</title>
    
</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

    <main class="delPerfil">
        <div id="banner-rosa">
        </div>

        <div class="caja-info">
            <div class="caja-titulo">
                <h1>Eliminar mi cuenta</h1>
            </div>

            <div class="caja-texto">
                <h4>¿Deseas eliminar tu cuenta?</h4>
                
                <p>
                    Ten en cuenta que todos los <br>
                    datos de esta cuenta se perderán, <br>
                    lo que hará que no puedas <br>
                    ver tus compras antiguas.
                </p>
                <p>
                    Si aún quieres continuar con <br>
                    el borrado de tu cuenta, <br>
                    ingresa tu contraseña a continuación:
                </p>
            </div>
            
            <form action="/user/delete?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="password">Ingresar contraseña:</label>
                    <input type="password" id="password" name="password" placeholder="********" required>
                </div>
    
                <div class="opciones">
                    <button type="submit" class="button-rosa">
                        Eliminar mi cuenta
                    </button>
                    
                    <a href="/user/myProfile" class="button-gris">
                        Cancelar y volver
                    </a>
                </div>
            </form>
            
            <img class="golosinas" src="/img/estructura/golosinas.png">

        </div>    

    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>