<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
 
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- JS -->
    <script src="/js/menu.js"></script>

</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

    <main class="login">

        <img class="golosinas-full arriba" src="/img/estructura/caramelo-rosa.png">

        <section class="login-body">

            <div class="logo-login">
                 <img src="/img/estructura/candyshop-sm.png" alt="Logo de CandyShop">
            </div>

            <form action="/user/login" method="post">

                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="E-mail" required>
                </div>

                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <div class="password-input">
                        <input type="password" id="password" name="password" placeholder="********" required>
                        <button type="none" class="ver" onclick="lookPassword()">
                            <i class="bi bi-eye"></i>
                        </button> 
                    </div>
                </div>

                <label class="center check">
                    <input class="check-input" type="checkbox" id="recordar" name="recordar">
    
                    <span for="checkmark">
                        Recordar usuario y contraseña
                    </span>
                </label>
                
                <div class="center">
                    <a href="">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>
                
                <button type="submit" class="button-rosa">
                    Iniciar Sesión
                </button>

                <div class="button-transparente">
                    <a href="/user/register">
                        ¿Todavía no posees una cuenta?
                        <br>
                        <strong>Registrarme</strong>
                    </a>
                </div>
            </form>
    
            <img class="golosinas-login" src="/img/estructura/golosinas.png">
        
        </section>

        <section class="extra-body">
            <p class="bienvenida">
                ¡Hola!<br>
                Bienvenido de nuevo
            </p>
            
            <div class="loop-caramelo">
                <img src="/img/estructura/osito.png" alt="chocolatito">
            </div>

            <div class="bienvenida">

                <a href="/user/register" class="button-transparente">
                    <div>
                        ¿Todavía no posees una cuenta?
                        <br>
                        <strong>Registrarme</strong>
                    </div>
                </a>
            </div>

        </section>

    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>